[2018-02-21 19:54] #192 closed

[2018-02-21 19:59] tinker123456 commented on #320
Yes, the issue is exactly the same with 1.5.2

[2018-02-21 20:00] Taluu commented on #304
I'll have to check as I didn't have the occasion to test it with the idekey...

[2018-02-21 20:02] BlackIkeEagle commented on #304
@Taluu maybe if some weird behaviour happens with idekey enabled it should be another issue?

[2018-02-21 20:02] tinker123456 commented on #320
I found this with h: python-dynamic

[2018-02-21 20:03] BlackIkeEagle commented on #320
@tinker123456 thanks.That might need some further investigation. All the packages are official ones? So I could probably reproduce it with centos?

[2018-02-21 20:05] BlackIkeEagle commented on #320
@tinker123456 hmm for the dynamic python, could you do `strings /usr/bin/vim | grep python` and paste the output?

[2018-02-21 20:10] tinker123456 commented on #320
I found this in my vim --version output from above:

Huge version without GUI.  Features included (+) or not (-):
+python/dyn
 -python3

My version of python is Python 2.7.12

I have no idea how to find out what version Python my VIM was compiled with or the shared library the h: blurb mentions.

[2018-02-21 20:11] Taluu commented on #304
Yeah, sure. Closing then.

[2018-02-21 21:03] BlackIkeEagle commented on #320
@tinker123456 but all the packages you use are from the official repo's? So I basically could reproduce this on CentOS?

[2018-02-21 21:22] tinker123456 commented on #320
The system I described above isn't mine, it is my box at work, at a Big Org, that had some ghost prepared in Big tech department.  In other words, I don't know and it wouldn't be easy to find out.

[2018-02-22 01:23] Fandekasp commented on #318
python-neovim installed
![](https://i.imgur.com/COesJVr.png)

CheckHealth:
[code]

[2018-02-22 01:41] Fandekasp commented on #318
Somehow, I'm not getting this error anymore, not sure what fixed the issue.

Still unable to use xdebug with php from vim, but it's another issue (pressing <F5> will wait forever, the message not self-destructing itself as announced, going to http://localhost:10000 will also wait forever, and the php app raises uncaught errors saying the xdebug_get_headers() is undefined).

[2018-02-22 01:41] #318 closed

[2018-02-22 06:55] BlackIkeEagle commented on #318
@Fandekasp strange, just yesterday I was working all day with nvim on Arch Linux and I was able to debug several applications. Could you explain your setup to me? Do you use xdebug remote or localhost?

[2018-02-22 07:17] Fandekasp opened #322 "Setup vdebug & nvim & xdebug & lampp & arch linux"
Following #318, I'm creating a new issue to resolve my setup issues, using:
* Arch Linux
* Neovim v0.2.1
* Xdebug 2.6.0-1
* XAMPP for Linux 7.1.9-0
* vdebug installed with Plug

# Config files

**~/.vimrc**
[code]

**/opt/lampp/etc/php.ini**
[code]

# Test

* start lampp: `sudo /opt/lampp/lampp start`
* Open the app in the browser
* Open a php file from a Phalcon project
* Press <F5> to start vdeb

[2018-02-22 07:18] Fandekasp commented on #318
@BlackIkeEagle thanks for the support, I really appreciate. I created a new issue with more details in https://github.com/joonty/vdebug/issues/322

[2018-02-22 12:16] lucc opened #323 "Provide commands instead of mappings by default"
There is quite some asymmetry between functionality that is provided by python functions, functionality that is provided by Vim commands and stuff that is accessible through mappings.

I suggest we provide a uniform set of Vim commands (or Vim functions, I don't mind, they might be easier when handling arguments) that provide *all* things that the user should be able to with vdebug.  The documenta

[2018-02-23 13:26] meirege opened #324 "Can't get vdebug working with neovim v0.2.2"
Hi,

I have been trying to get vdebug to work with my neovim installation (v0.2.2) but I can't seem to get it working...

All my other plugins seems to work fine after switching from vim to neovim though... I think it has something to do with python support, but can't figure it out...

When I run `:echo has('python')` it returns 0 however.

Can anybody help me out?

[2018-02-23 13:34] lucc commented on #324
Check the official docs for python+neovim: https://neovim.io/doc/user/provider.html#provider-python

[2018-02-23 13:44] meirege commented on #324
I tried this but to no succes...   I also have a python version installed through my MAMP installation apparently... Could this be the problem?

I did both install commands like `pip2 install --upgrade neovim `.
neovim keeps giving 0 when I try `:echo has('python')`

[2018-02-23 13:49] lucc commented on #324
I have no idea what MAMP is. But it sounds like a problem with neovim+python2 and whatever platform you use. It is not per se an issue with vdebug as vdebug *requires* `:echo has('python')` to print `1`. Before that we can most likely not help you.

[2018-02-23 13:58] meirege commented on #324
Thank you, your answer pointed me to https://github.com/neovim/neovim/issues/2193 which solved my issue.

[2018-02-23 13:58] #324 closed

[2018-02-23 18:32] SamuelTissot opened #325 "Vdebug + Neovim buffer target error"
Hello, and huge thanks for the great work, I use vdebug everyday (almost) :)

As of today however vdebug became unusable on neovim ( v0.2.2)

**NOTE:** it still works with macvim

steps to reproduce
-----
1. set `break_on_open` option to `1` (tested with 0 - same result)
2. start the debugger <F5>
3. reload the page in browser

behavior
-----
1. The debugger seems to "break" at the first line. how

[2018-02-23 20:23] SamuelTissot commented on #325
Update:
The issue seems to be on my side. I clone the exact repo in another folder and. **it works**.
Same code, different folder and different behaviour. Is there a cache somewhere that I do not know about?

[2018-02-26 14:49] SamuelTissot commented on #325
Update: if I do a
`mv project/root newproject/root`

the debugger works. So it really seems like some kind of caching, I suspect with the `path_mapping` and/or nvim.

any help/pointers on this issue would be greatly appreciated.

thanks

[2018-03-01 19:57] BlackIkeEagle commented on #319
Thanks for reporting thisone, the issue is now resolved in v2-integration

[2018-03-01 19:57] #319 closed

[2018-03-03 12:34] #299 closed

[2018-03-03 13:44] joereynolds commented on #323
`<Plug>` mappings would be a good call here

[2018-03-06 04:00] Roy-Orbison opened #326 "Can you please make breakpoint signs configurable settings?"
I currently stash and unstash the following patch to enable nice, single-character signs, and still get updates via Vundle. I'm sure others would appreciate the ability to configure these.

[code]

[2018-03-06 07:34] letharion commented on #317
@BlackIkeEagle Today I cloned vdebug, switched to v2-integration, and copied the plugin directory into my ~/.vim, I'm on e37e43509778d167af139b9879d329fdb944abbc

I have a PHP-based API, running under apache.
I hit F10, get visual confirmation on breakpoint, F5, and get `Vdebug will wait for a connection in the background`.
When curl hits the API, initially, nothing happens. The request doesn't fi

[2018-03-08 11:25] vivoconunxino opened #327 "unable to use it along command line phpunit"
I've succesfully initialized the debugger once hitting the url from the browser, but I'm unable to start it when executing tests from command line.

My php.ini settings on apache/php.ini are the same of cli/php.ini:
[code]

The debugger does not initialize; I set a breakpoint at the beginning of the test, hit F5 and in another term I type:

I tried with : `phpunit --filter 'test_some_test' models/

[2018-03-08 11:40] vivoconunxino commented on #327
Oh, something particular is that the test works as always (without being interrupted) and getting the output:
[code]

[2018-03-08 11:55] vivoconunxino commented on #327
mmm solved thanks to gl2748 at https://github.com/joonty/vdebug/issues/235

worked once i did an `export XDEBUG_CONFIG="remote_enable=1"`

[2018-03-08 11:55] #327 closed

[2018-03-08 22:01] BlackIkeEagle commented on #325
@SamuelTissot I think this is fixed in v2, you will be able to update soon

[2018-03-08 22:01] #325 closed

[2018-03-08 22:06] BlackIkeEagle commented on #317
@letharion I cannot reproduce this.

Following steps were taken:
.vimr with minimal config:
[code]

checked out latest v2-integration in ~/devel/vdebug
then:
[code]

open vim in a php project, press F5, debugging was already enabled via a browser plugin, refresh page, vdebug successfully works.

[2018-03-08 22:06] #317 closed

[2018-03-08 22:08] BlackIkeEagle commented on #312
@r631269 Do you have a fix for this? could you be so kind to provide a PR? Could you verify if this is still present in v2?

[2018-03-08 22:09] BlackIkeEagle commented on #289
duplicate #326 has better description

[2018-03-08 22:09] #289 closed

[2018-03-08 22:20] r631269 commented on #312
I don't know how to fix it, so I don't have a PR
Where could I find instructions for getting v2 working?

[2018-03-08 22:25] BlackIkeEagle commented on #312
@r631269 Ok I misinterpreted your line

and I've just merged v2 in master, it requires python 3 support in vim, for the rest its installable the same way you installed vdebug before

[2018-03-09 16:03] SamuelTissot commented on #325
@BlackIkeEagle thanks

In the mean time for everyone experiencing the issue just rename your project root folder.

[2018-03-09 23:02] kepford opened #328 "Vdebug fails to launch debugger buffers for PHP"
After upgrading to the latest commit on master  `6b2b2bac8947f6f5c72ca3a75401270d52b740b4` Vdebug fails to open the debugger buffer.

Note 1: Vdebug was working on all of these PHP installs earlier this week before the pre v2 merge.
Note 2: I am remote debugging PHP applications(Drupal) in Vagrant virtual machines.

Here are the logs.

## tail -f /tmp/xdebug.log

[code]

## vdebug.log

[code]

##

[2018-03-10 10:02] BlackIkeEagle commented on #328
So you were on v2-integration already?
Your Vim does not support 1.5, `-python`

Does the vdebug interface appear when you try do move in your current open buffer?

[2018-03-10 10:16] BlackIkeEagle commented on #322
@Fandekasp could you test with latest master?

[2018-03-10 10:19] BlackIkeEagle commented on #300
So you are saying another plugin is breaking vdebug functionality?

[2018-03-10 10:25] BlackIkeEagle commented on #269
This is available in the latest versions of vdebug `:VdebugTrace`

[2018-03-10 10:25] #269 closed

[2018-03-10 10:27] BlackIkeEagle commented on #263
I think the PR fixed this issue

[2018-03-10 10:27] #263 closed

[2018-03-10 10:32] BlackIkeEagle commented on #260
With the latest master you can do this, you could add the following to your `.vimrc` for example:

[code]

[2018-03-10 10:32] #260 closed

[2018-03-10 10:36] #245 closed

[2018-03-10 10:40] BlackIkeEagle commented on #222
This feature is available in the latest versions of vdebug

[2018-03-10 10:40] #222 closed

[2018-03-10 10:42] BlackIkeEagle commented on #184
closing because it might no longer be relevant, lots of things have changed over time

[2018-03-10 10:42] #184 closed

[2018-03-10 10:43] #183 closed

[2018-03-10 10:47] BlackIkeEagle commented on #152
I think this will be very flaky and will lead to more issues than you want to solve. I suggest you use a tool like vimsauce to specify your project and set the vdebug path mapping there.

[2018-03-10 10:47] #152 closed

[2018-03-10 10:48] #148 closed

[2018-03-10 10:49] #146 closed

[2018-03-10 10:49] #125 closed

[2018-03-10 10:50] #117 closed

[2018-03-10 10:51] #116 closed

[2018-03-10 10:51] #111 closed

[2018-03-10 10:53] #105 closed

[2018-03-10 10:53] #92 closed

[2018-03-10 10:54] #91 closed

[2018-03-10 10:54] BlackIkeEagle commented on #64
this is indeed the `:VdebugTrace` command, closing

[2018-03-10 10:54] #64 closed

[2018-03-10 10:57] BlackIkeEagle commented on #83
this issue is fixed a while ago in vdebug

[2018-03-10 10:57] #83 closed

[2018-03-10 10:58] BlackIkeEagle commented on #58
v2 is now as non blocking as possible

[2018-03-10 10:58] #58 closed

[2018-03-10 10:59] BlackIkeEagle commented on #50
it will be massively hard to debug on small screen resultions so closing this

[2018-03-10 10:59] #50 closed

[2018-03-10 11:06] BlackIkeEagle commented on #24
I think this is somewhat out of the reach of what we can do with vim. It might work but will be very error prone for different browsers, if users use multiple profiles, multiple windows, there will be too many issues

[2018-03-10 11:06] #24 closed

[2018-03-10 11:07] #19 closed

[2018-03-10 15:35] kepford commented on #328
I was on a Vim with +python a couple days ago and on the 1.5 version of Vdebug and it was working. Upgraded Vim and Vdebug to the versions listed.

Vdebug interface does not appear at all. Also, I’m on Mac OS with brew installed vim. Is there any more debugging I can try tha might provide more detailed error reporting?

[2018-03-10 16:20] BlackIkeEagle commented on #328
are you using macvim or just vim on tty? I'm on linux so this might be a MacOS issue.

[2018-03-10 16:58] kepford commented on #328
Not using MacVim. Terminal Vim

[2018-03-10 17:08] nathanielks commented on #260
Hey, hey! This is great! Thanks, @BlackIkeEagle!

[2018-03-11 00:08] mblarsen commented on #300
It seems any functionality at makes use of focus events will cause the debug listener to cancel. I listed just two such plugins.

[2018-03-12 04:03] Fandekasp commented on #322
- Updated my .vimrc with `Plug 'joonty/vdebug', { 'branch': 'master' }` to make sure I'm on master, then ran `:PlugUpdate`.
- uncommented all the configs shared in the first message of this issue
- started lampp
- Opened a php file and pressed `<F5>`
- Saw message `Vdebug will wait for a connection in the background`
- Went to my browser, opened the application
- Got error `Error starting Vdebug:

[2018-03-12 16:43] Dudemullet opened #329 ":python3 is not available, macvim"
Whenever I open macvim, I see the following error

OS is:
`macOS High Sierra 10.13.3`

and I'm sure I have python3 installed

Here is `mvim --version` output
[code]

[2018-03-12 18:14] baptx commented on #19
Has continuous mode been added to the new version? (I saw the issue was closed)

[2018-03-12 19:13] mikedfunk opened #330 "Error starting Vdebug: <class 'UnicodeDecodeError'>"
I have had vdebug v1 working for a long time. I updated vim, which looks like it set up python 3 support (`has('python3')`) and removed python 2 support (`has('python')`) by default. I upgrade vdebug as well, which brought in the v2-integration changes. Now when I start listening with vdebug (F5), start xdebug via a cookie, and load the right page, I get this error:

<img width="325" alt="screen s

[2018-03-12 19:44] BlackIkeEagle commented on #329
I'm not sure if you can find what python version mvim was compiled against? Although you have `+python3/dyn` you still can get issues if the python version mvim was compiled with differs a lot from the python version you have installed

[2018-03-12 19:49] BlackIkeEagle commented on #330
I currently have no MacOS available. Are you running PHP on a linux VM or directly on your Mac?

[2018-03-12 19:52] BlackIkeEagle commented on #322
@Fandekasp Indeed you have no breakpoints set to it will not interrupt anywhere. Could you first test with `let g:vdebug_options = {'break_on_open': 1}`?

[2018-03-12 19:53] BlackIkeEagle commented on #322
<F10> will set breakpoints btw, you can find how to navigate and step with `:help vdebug`

[2018-03-12 19:56] mikedfunk commented on #330
I'm running php in a docker container

`php -v`
[code]

`php -i | grep xdebug`
[code]

[2018-03-12 19:58] mikedfunk commented on #330
Also relevant: `php -i | grep default_charset`
[code]

[2018-03-12 19:58] BlackIkeEagle commented on #330
@mikedfunk So I'm going to assume you run 'native' docker on mac

[2018-03-12 19:59] mikedfunk commented on #330
No, I use docker-machine.

[2018-03-12 20:00] BlackIkeEagle commented on #330
@mikedfunk thanks

[2018-03-13 00:20] raisen commented on #328
Same here. I went back to commit 1bff0b1afc4181a9c73874621d6d05fa92a5f1bc and vdebug seems to be working. This is a fresh install, it's being awhile I have used vdebug.

However, I'm getting a blank screen for the window that is supposed to show the file being debugged, but I'll open another issue for this.

[2018-03-13 00:22] kepford commented on #328
Yep, commit `1bff0b1` works but I have to brew reinstall vim with `--python@2`.

[2018-03-13 00:40] templeman commented on #328
Same thing for me with macvim. Vdebug commands seem to be recognized but the debugger buffers don't appear with this latest commit.

[2018-03-13 07:39] markwu commented on #329
Even you compiled MacVim with python and python3 support, you only can run one of them  in one vim session.

[code]

I guess you have other plugins run python2 first, then you have no chance to run python3.

Your can try put the following code in the beginning of your `.vimrc`, to make vim run python3 first. But you may see some errors if your other plugin does not support python3 or compiled with

[2018-03-13 17:56] oldtimeguitarguy opened #331 "Error starting Vdebug: <class 'BlockingIOError'>"
I'm using xdebug on a remote server w/ reverse tunnel. All of my settings seem to be right and the connection looks to be set up properly, but when I press <F5>, Vdebug doesn't run. After inspecting :messages, I see this:

Vdebug will wait for a connection in the background
Found connection, starting debugger
Connection has been closed
Error starting Vdebug: <class 'BlockingIOError'>

[2018-03-13 18:05] oldtimeguitarguy commented on #331
I manually altered the code in my installation to match https://github.com/vim-vdebug/vdebug/commit/12afbd773587dc5560ae7e077222f7a68fddf7d1 and now it's working!!! I hope that gets merged soon!

[2018-03-13 18:05] #331 closed

[2018-03-13 19:20] #328 closed

[2018-03-13 19:23] kepford commented on #328
Thanks @BlackIkeEagle. I will test this out today.

[2018-03-13 23:03] kepford commented on #328
The issue remains for me after `4b5616b`.

Debugging output.

[code]

[2018-03-14 16:01] kepford opened #333 "Vdebug fails to launch debugger buffers for PHP"
#328  was closed but is not fixed.

The issue remains for me even after updating to commit `4b5616b`.

Debugging output.

[code]

[2018-03-14 16:23] s-c-p opened #334 "Vdebug causing SIGSEGV in Vim, and jibberish python errors."
To reproduce this error:

 0. Start live Ubuntu-GNOME 16.04
 1. Get vim 7.4
 2. Setup Vdebug for python 3 (I used pydbgp version 11.0.2 from activestate)
 3. start Vdebug*ing*`test.py` of `github.com/s-c-p/simple-reactive-py`
 4. Just keep stepping over and vim will crash at `main()`

Seg-faults seem to be serious trouble, perhaps similar to https://github.com/vim-vdebug/vdebug/issues/320

______

[2018-03-16 10:16] winged commented on #333
+1, I have the same issue (Linux terminal, Neovim). Similar log output overall (except the "Storing existing key mapping" ones).

[2018-03-19 12:41] tshakah opened #335 "PR #332 broke vdebug on Linux"
The pull request to fix vdebug on mac and make connections non-blocking broke it on my machine, and it now crashes reliably with these steps:

1. Start debugging
2. Stop debugging without a connection.

If there is a connection stopping works fine (although it leaves the debugging panes on the right, and hitting `F6` hides them fine). If there isn't a connection neovim stops responding to input.

[2018-03-19 12:44] tshakah commented on #335
Logfile output:
[code]

[2018-03-20 10:00] rapliandras opened #336 "ElementTree parse error in watch window"
In the watch window I navigate to an array and want to unfold to view its elements (hit enter), yet I'm getting a nice parse error.

[code]
I have upgraded lxml to 4.2 via pip3.

Thanks for any advice.

[2018-03-20 14:13] BlackIkeEagle commented on #336
@rapliandras there might be a need for more information. from your traceback I could assume you are on Ubuntu, but if you could provide steps to reproduce the issue that would be great

[2018-03-20 18:26] FatBoyXPC opened #337 "Vdebug closing as soon as it connects"
As soon as it finds a connection, vdebug closes and the page that's loading just dies.

[code]

PHP 7.2.3
Arch Linux (up to date)
Vdebug is up to date
Python 3

Let me know if I left out any important info!

[2018-03-20 23:02] BlackIkeEagle commented on #337
@FatBoyXPC Did you add any configuration for vdebug, or just using it with the defaults?

[2018-03-21 02:35] FatBoyXPC commented on #337
Defaults, though I did have to use `:VdebugOpt` to get the debug level and debug file. I was looking for the highest level I could set it to, though I guess I could have just set it higher and higher until it stopped working.

[2018-03-21 20:50] Govinda-Fichtner commented on #337
It seems I have the same problem:

I am using latest vdebug on Mac OS X with Neovim and Python3:
[code]

[2018-03-22 21:42] BlackIkeEagle commented on #330
@mikedfunk I'm sorry I cannot reproduce this issue, using dinghy wrapper for docker-machine everything seems to work for me

![screenshot_20180322_223606](https://user-images.githubusercontent.com/293691/37800035-dcddbf88-2e21-11e8-9168-1239821c6095.png)

Using macOS 10.13.3

![screenshot_20180322_224127](https://user-images.githubusercontent.com/293691/37800147-39dd9d70-2e22-11e8-92be-79676e573f1

[2018-03-22 21:48] BlackIkeEagle commented on #330
[code]

[code]

[2018-03-22 21:52] BlackIkeEagle commented on #330
@mikedfunk Maybe there is something in your application that might trigger the error?

[2018-03-22 22:00] #228 closed

[2018-03-22 22:00] #335 closed

[2018-03-22 22:13] BlackIkeEagle commented on #337
@Govinda-Fichtner I have no issues testing with a dockersetup using neovim on macOS high Sierra

[2018-03-23 04:54] s-c-p commented on #334
Why is nobody seeing this?

[2018-03-23 04:55] s-c-p commented on #334
The above comment was just to increase number of comments, so on issues pages people will think "Oh! This issue is getting a lot of attention, I should look at it too."

[2018-03-23 05:04] learningJava4ds commented on #334
Why is nobody addressing this issue

[2018-03-23 06:16] BlackIkeEagle commented on #334
@s-c-p Sorry I missed this

[2018-03-23 06:18] BlackIkeEagle commented on #334
@learningJava4ds Because time is limited, I'm also doing this in my free time so if you can help fixing bugs please open a Pull Request, that would be more usefull.

[2018-03-23 06:55] BlackIkeEagle commented on #253
might need retesting with v2, if still present please open a new issue

[2018-03-23 06:55] #253 closed

[2018-03-23 11:11] Govinda-Fichtner commented on #337
@BlackIkeEagle Can you describe how did this so I can test this on my machine and figure out if this a problem specific to my setup or not? Thanks.

[2018-03-23 13:00] BlackIkeEagle commented on #337
@Govinda-Fichtner

$ brew install neovim
$ pip3 install neovim

installed my vimfiles https://github.com/BlackIkeEagle/vimfiles

I'm using docker-compose with dinghy (for example: https://github.com/dockerwest/compose-magento2)

I have a magento2 installed and start debugging, no issues.

[2018-03-23 16:05] BlackIkeEagle commented on #337
@FatBoyXPC I have no issues on Arch so I cannot reproduce your issue.

![screenshot_20180323_170355](https://user-images.githubusercontent.com/293691/37840029-4fda6118-2ebc-11e8-9860-f274f02660a8.png)

[2018-03-23 16:06] BlackIkeEagle commented on #337
@FatBoyXPC my PHP information:

[code]

[code]

[2018-03-23 16:39] FatBoyXPC commented on #337
@BlackIkeEagle Well that's frustrating :disappointed:  Could it be an xdebug version issue? I'm on 2.6.0.

[code]

[2018-03-23 19:31] sstutz commented on #337
![1920-1039-max](https://user-images.githubusercontent.com/3673415/37849616-abebb792-2ed8-11e8-8d86-5f17110cc9e4.png)
@BlackIkeEagle same thing, it randomly stopped working for me.
I am running Arch Linux as well

[2018-03-23 22:12] BlackIkeEagle commented on #337
@FatBoyXPC I'm on the same version as you since I'm on Arch Linux

I'm having xdebug.remote_connect_back = 1 but I think that is the only difference

Could you post a link to your vimrc?

[2018-03-23 22:14] BlackIkeEagle commented on #337
@sstutz I always use debug_file together with debug_file_level = 8

Since all my work and home systems are on Arch Linux I find this very weird you are having these issues

[2018-03-23 22:15] BlackIkeEagle commented on #337
my archlinux phpinfo output:

[code]

[2018-03-23 22:38] FatBoyXPC commented on #337
@BlackIkeEagle So I just added the remote_connect_back = 1 and now our configs are only different because of the ide key setting. I've also set debug_file_level to 8 and I don't think any new information was given in the log

![image](https://user-images.githubusercontent.com/744962/37856142-3cd996ee-2ec9-11e8-83bc-8b880e2f0764.png)

[2018-03-25 02:45] Taluu commented on #304
Had this issue again. No ide_key set, but using Docker.

With the proper path sets (through the `path_maps` option), I can debug, but if I try to jump on the next breakpoint with `<F5>`, it ends the session. Here are the logs with level 2 :

[code]

[code]

Would you like me to open a new issue ? It's kinda related ("jump to the next breakpoint"), but it's also another symptom : can't get on anoth

[2018-03-25 02:50] Taluu commented on #304
Hum, nevermind, it seems to work normally. It's just that if you put a breakpoint on an `echo` (or something that outputs something ?), it's ignored... ?

I don't think this is vdebug's fault, so I'll reclose this issue. Sorry for the noise.

[2018-03-25 02:50] #304 closed

[2018-03-25 09:25] BlackIkeEagle commented on #337
@FatBoyXPC I'm sorry I still can't reproduce your issue, I've just installed laravel and tried using locally installed php on Arch:

[code]

browsing 127.0.0.1:8000

![screenshot_20180325_112409](https://user-images.githubusercontent.com/293691/37873544-17375910-301f-11e8-808c-b88cc90398f3.png)

enable debugger with browser plugin and let vdebug wait with default settings (I removed my personal de

[2018-03-25 09:48] BlackIkeEagle commented on #334
@s-c-p So I'm doing the following:

[code]

The debugger connects properly:
![screenshot_20180325_114539](https://user-images.githubusercontent.com/293691/37873688-1371583c-3022-11e8-8cde-da5b9e4f0456.png)

I can properly step to main():
![screenshot_20180325_114616](https://user-images.githubusercontent.com/293691/37873691-27e71b8a-3022-11e8-9b58-65d8c1346098.png)

I can step into main():
![scree

[2018-03-25 09:51] BlackIkeEagle commented on #312
@r631269 could you provide a sample of what you are debugging and how you are debugging?

[2018-03-25 16:50] FatBoyXPC commented on #337
Is there a way I can dump the Vdebug config that is loaded or something? Are you using your development copy of Vdebug or are you at the same commit as master branch?

When looking through the commit history, it looks like somebody recently modified the whole listening/not listening part of the code (at least, according to the commit messages). I went ahead and checked out [this commit](https///gi

[2018-03-26 02:08] azhargiri commented on #337
This is what I did

1. set parameter 'background_listener' to `0`
2. quit Vimredebug
3. open `vim +VdebugStart`
4. Vdebug quit and display message below
`Error starting Vdebug: <class 'UnicodeDecodeError'>`

![vdebug-raise-unicodedecode-error](https://user-images.githubusercontent.com/904684/37883460-b492c82e-30d4-11e8-974e-fc3b822db780.png)

[2018-03-26 10:39] BlackIkeEagle commented on #337
@FatBoyXPC I'm using vdebug almost daily, if it is not working I'm also affected so that would be very weird that the python3 change broke everything

[code]

Could you test with my vim version (https://repo.herecura.eu)
or neovim from the Arch repos

[2018-03-26 10:40] BlackIkeEagle commented on #337
@azhargiri could you please open another issue for this, I would say, settings background_listener to 0 is not supported right now

[2018-03-26 13:16] BlackIkeEagle commented on #337
@FatBoyXPC  with vim version from Arch:

[code]

![screenshot_20180326_151619](https://user-images.githubusercontent.com/293691/37908472-a87efc72-3108-11e8-9499-4778c19de645.png)

[2018-03-26 15:03] BlackIkeEagle commented on #337
@FatBoyXPC @sstutz

Do you still get the issue if you are using this minimal vimrc:

[code]

[2018-03-26 15:06] BlackIkeEagle commented on #337
![screenshot_20180326_170605](https://user-images.githubusercontent.com/293691/37914653-ff5fe2d6-3117-11e8-9bdd-9ab8696bbe2f.png)

That is the result for me when using this minimal vimrc

[2018-03-26 20:15] FatBoyXPC commented on #337
@BlackIkeEagle it looks like @sstutz figured it out. We both has some `listchars` going on in our vim configs. If I comment out this line:

`set listchars=tab:›\ ,trail:•,extends:#,nbsp:. " Highlight problematic whitespace`

Then it works!

[2018-03-26 20:17] sstutz commented on #337
@BlackIkeEagle the issue is not the listchars setting itself but rather the unicode used, replacing the › and •  symbol with - works as well

[2018-03-27 02:20] dajnz commented on #333
+1, me too: Ubuntu 16.04, Neovim:

Vdebug log:

[code]

Xdebug log:
[code]

configs:
[code]

[2018-03-29 13:47] lukevers commented on #329
I had this same issue today as @Dudemullet after upgrading my vdebug vim plugin and what I did was upgrade MacVim (`brew upgrade macvim`) and now I have:

[code]

and now it loads, but then I have other issues.

Whenever I close macvim, even if I never used vdebug, this occurs:

[code]

If I try to run vdebug, it connects, but this happens:

<img width="1788" alt="screen shot 2018-03-29 at 9 46 19

[2018-03-29 14:39] lukevers commented on #329
Fixed my issue after talking on IRC about it. I had these in my vimrc for `g:vedebug_options`

[code]

the first one fixed my issue with the multiple debugger log buffers opening and ruining my screen, and the second one fixed my stacktrace on exit. I still get "Vdebug is not running" but everything else seems to work.

Sorry for hijacking this thread, I thought I might have been having the same p

[2018-03-30 11:57] BlackIkeEagle commented on #337
@FatBoyXPC and @sstutz If you could test https://github.com/vim-vdebug/vdebug/pull/340 That fixes the issue on my machine with utf8 data in listchars

[2018-03-30 11:59] BlackIkeEagle commented on #330
@mikedfunk could you test if https://github.com/vim-vdebug/vdebug/pull/340 fixes this for you? I think its caused by the same issue

[2018-03-30 13:07] FatBoyXPC commented on #337
Works for me, I'll nag @sstutz and see if I can get him to confirm as well.

[2018-03-30 13:20] #337 closed

[2018-03-30 17:21] BlackIkeEagle commented on #329
Since I now have tested both cli and macvim on macos I'll close this

[2018-03-30 17:21] #329 closed

[2018-03-30 17:22] BlackIkeEagle commented on #322
@Fandekasp do you still have this issue?

[2018-03-31 05:18] markwu opened #341 "There is always show "Vdebug is not running" when I quit vim"
I just upgrade my Vdebug to master branch and without any configurations. When I quit vim, it always shows "Vdebug is not running" message, can I get rid of it?

Weird, this message never shows ii Vdebug v1.

I tried Vdebug master branch inside macvim/neovim, all of them have this issue.

[2018-03-31 06:53] BlackIkeEagle commented on #341
This ca be removed but its not really a bug. The output is given because if you close vim we must make sure everything is shut down.

[2018-03-31 12:03] markwu commented on #341
Ah, I see. Thanks. Since it is not a bug, the message is okay for me, just a little annoying.

[2018-03-31 14:49] BlackIkeEagle commented on #341
I'll check if this could be handled more properly

[2018-03-31 18:50] #341 closed

[2018-04-02 05:05] mikedfunk commented on #330
@BlackIkeEagle works great! Thanks!!

[2018-04-02 05:05] #330 closed

[2018-04-02 15:49] BlackIkeEagle commented on #336
@rapliandras I can't reproduce this issue on ubuntu 16.04

[2018-04-02 18:13] r631269 commented on #312
I finally got python3 support in macvim (I think), but I am unable to test, or debug anything at the moment. I'm seeing

[code]

#330 looks relevant, but I'm already at revision `9c95ba44` and still seeing this problem

[2018-04-02 19:55] BlackIkeEagle commented on #312
@r631269 could you share your vim configuration?

[2018-04-02 19:58] r631269 commented on #312
[code]

[2018-04-02 20:14] r631269 commented on #312
https://gist.github.com/r631269/cae7892a1ef90871142401bf27e020ed

[2018-04-03 03:09] mfgabriel92 opened #342 "Debug process doesn't start when refreshing the page"
I'm trying to make the debug process work, but nothing happens when I refresh the page. Setting breakpoints and initializing `Vdebug` works as expected because I see the message at the bottom saying "Vdebug will wait for a connection in the background". Then, with Xdebug helper Chrome plugin installed, and debug set to active, I refresh the page but vim does not do anything.

So, for the technical

[2018-04-03 05:30] Fandekasp commented on #322
Haven't found the time to test it out yet, sorry. Hopefully I'll come back with more info by next week

[2018-04-03 06:39] BlackIkeEagle commented on #342
If you are using nginx I assume you use fpm, is it configured the same way?

[2018-04-03 07:11] mfgabriel92 commented on #342
It doesn't work even using Laravel, without Nginx and FPM at all, just the built-in server. I'm this close to give up on debugging PHP. It's too troublesome.

[2018-04-03 07:37] mfgabriel92 commented on #342
I installed `php7.1-fpm`, because I saw something about xdebug not working with versions below 7. I copied the same content

[code]

into `php.ini` of `php7.1-fpm`. When I start the Laravel's server, for a reason it says Xdebug is already running, and the log file shows the following:

[code]

I'm sick of this.

[2018-04-03 13:42] BlackIkeEagle commented on #342
@mfgabriel92 If you could give enough information I might be able to help you, What OS are you on, are you using vagrant / docker / local ...

[2018-04-03 13:54] BlackIkeEagle commented on #342
I quickly tested with 5.6 and a simple phpinfo script and have no issues with default settings

![screenshot_20180403_155304](https://user-images.githubusercontent.com/293691/38253574-49fb6136-3757-11e8-9fed-f5ee2258bc23.png)

![screenshot_20180403_155352](https://user-images.githubusercontent.com/293691/38253585-4fd70290-3757-11e8-89e0-cc5e8d7a738c.png)

[2018-04-03 21:39] dwjoss opened #343 ""Vdebug is not runningVdebug is not running" flashes right before vim closes"
It seems vim is trying to close Vdebug right before vim itself closes, regardless of whether Vdebug is running. "Vdebug is not running" is the message that is displayed when I hit <F6> while Vdebug is not running.

The only two lines in my .vimrc related to Vdebug are
1) referencing the plugin for my plugin manager
2) let g:vdebug_options = { "path_maps" : {...} }

[2018-04-03 21:40] dwjoss commented on #343
Sorry, just saw a recent commit that resolves https://github.com/vim-vdebug/vdebug/issues/341

I think this issue duplicates that one.

[2018-04-03 21:46] dwjoss commented on #343
Confirmed updating the plugin fixes the issue

[2018-04-03 21:46] #343 closed

[2018-04-04 17:53] BlackIkeEagle commented on #342
@xbot you should open another issue for the folding

[2018-04-05 03:35] xbot opened #344 "Each step_over() folds the PHP code."
When I press F2, my PHP code will be folded again. The foldmethod and foldlevel option are reset to 'syntax' and 1, which are the same with those in my vimrc. Even if I execute the command ':set foldmethod=marker', it still happens next time. Currently, I can but set foldlevel to 10 in my vimrc.

OS: macOS 10.13.4
Vim: 8.0.1633
Vdebug: 9c95ba4

[2018-04-07 19:14] kviolka opened #345 "Error on breakpoint"
I get the following error when the debugger activates on some breakpoints in my PHP project:

I'm using the current master with vim 8.0.0197 on Debian Stretch.

- [ERROR] {Sa 07 2018 21:11:07} An error occured: <class 'TypeError'>
Traceback (most recent call last):
  File "/home/k4v/.vim/bundle/vdebug/pythonx/vdebug/event.py", line 524, in dispatch_event
    Dispatcher.events[name](self.__session_

[2018-04-08 09:35] BlackIkeEagle commented on #312
@r631269 I'm merging an update in master, could you re-test if the dict expanding works fine?

[2018-04-08 10:15] BlackIkeEagle commented on #345
@kviolka would it be hard for you to create a minimal test where you can reproduce this issue, or a description of what exactly you do to trigger this issue? And if you could add a vdebug.log file where `debug_file_level` is set to 2.

[2018-04-09 06:52] BlackIkeEagle commented on #336
Closing because no further response

[2018-04-09 06:52] #336 closed

[2018-04-10 21:36] Taluu opened #347 "Allow to stop listenning to connections"
Now that the listenning is asynchronous, before we could stop it through `<ctrl-c>`. But now, we can't stop it, so if no connections are coming (because we're cancelling it, or because we finished a debugging session and so the listener continues again), we have no way to stop it.

[2018-04-10 21:37] Taluu commented on #347
Nevermind, it seems that `<F6>` does the trick. :}

[2018-04-10 21:37] #347 closed

[2018-04-11 16:25] r631269 commented on #312
I did a `BundleInstall!`, which updated vdebug's revision to 5e1d2634, but I'm still getting the error listed above. It seems to happen as soon as vdebug connects to the debugger.

[2018-04-11 16:28] BlackIkeEagle commented on #312
@r631269 are you on linux, mac, ... ? Since I'm having 0 issues with your vimrc now I'm kindof lost here how to solve your issue

[2018-04-11 16:29] r631269 commented on #312
I'm on a mac

[2018-04-11 16:33] r631269 commented on #312
Here's what I have in my ~/vdebug.log, in case that shows anything useful
[code]

[2018-04-12 09:32] kviolka opened #348 "Other variables in scope of a different stacktrace level?"
In PHPstorm, when I'm on a breakpoint I can click a lower entry point in the stack trace to see the variables there. Is this something vdebug can do, maybe in future?

[2018-04-12 20:15] BlackIkeEagle commented on #348
@kviolka you mean something like what the content was of a variable before, even if it is not within the scope of the method you are in and have the breakpoint triggered?

I would have to lookup if xdebug supports that kind of behaviour. Then it would be possible.

[2018-04-12 21:33] iamdonut commented on #312
@r631269 Perhaps try clearing your listchars setting (`set listchars=`) before starting a debugging session. I'm experiencing the same error and that's working for me as a quick fix.

[2018-04-12 22:45] r631269 commented on #312
thanks @iamdonut, made some progress. I do need listchars during development, but maybe I can do some vimscripting to disable them when the debugger starts or something. Should I file separate issue?

Now, back to the original issue, given a nested dict object
[code]
expanding `subobj` in the debuggerwatch window results in the following
[code]

[2018-04-13 05:50] kviolka commented on #348
Yes, In PHPstorm I can see the variables in different scopes when I click thhrough the stackstrace. I need this quite often to find out how I got to a problem. BTW Thank you so much for working on vdebug! :) Do you have a donation address?

[2018-04-16 00:44] baroobob commented on #127
Occasionally I have trouble expanding and collapsing variables in the watch window as shown in the screenshot. I'm running Vdebug 1.5.1 in neovim 0.2.2 on an Ubuntu 16.04 Magento server that I ssh into from my macbook. Is it worth trying the issue-312... branch?

![screen shot 2018-04-15 at 7 34 48 pm](https://user-images.githubusercontent.com/3643831/38785343-68a00344-40e4-11e8-87e1-1a4be9853f33.

[2018-04-17 15:47] nexusstar commented on #330
I have run in the same issue while trying to start vdebug for PHP using Neovim
Using Kali install under Window Subsystem for Linux
I am trying with simple `phpinfo()` file

**Error**
[code]
**/tmp/xebug.log**
[code]

**Vdebug**
[code]
**Vdebug config**
[code]
**OS**
`Linux 4.4.0-43-Microsoft #1-Microsoft Wed Dec 31 14:42:53 PST 2014 x86_64 GNU/Linux`
[code]
**Neovim**
[code]
**PHP**
[code]

**php

[2018-04-17 20:12] Govinda-Fichtner opened #349 "Problem getting vdebug & python running with neovim"
I have some trouble getting neovim, vdebug and python running.

I am using neovim v0.2.3 with Python2 and Python3 support.
I installed vdebug master via plug.
I can start vdebug in neovim with :VdebugStart and get the message "Vdebug will wait for a connection in the background".

I am running pydbgp from a virtualenv with Python 2.7.14 that contains my libraries for app and pydbgp.
I installed it

[2018-04-17 20:15] BlackIkeEagle commented on #330
@nexusstar could you maybe open a new ticket for this, since on windows it will be a lot harder for me to test since I'm hardly ever using windows

[2018-04-17 20:18] BlackIkeEagle commented on #349
@Govinda-Fichtner could you link me to your vim configuration somewhere?

[2018-04-18 15:07] nexusstar opened #350 "`set langmap` with non ascii characters causes vdebug to exit with: Error starting Vdebug: <class 'UnicodeDecodeError'>"
I am using Neovim v0.2.2 on **Windows 10 (WLS Kali installed)** running on command prompt
**OS**
 `Linux Q306 4.4.0-43-Microsoft #1-Microsoft Wed Dec 31 14:42:53 PST 2014 x86_64 GNU/Linux`

**vdebug**
master -> 5e1d263424283eb5b735e9efc933ca31a0ec0672

In my configuration files I've got:
[code]
which causes  following error when all configuration and plugins are enabled:
[code]
If I leave only thi

[2018-04-18 17:33] Govinda-Fichtner commented on #349
@BlackIkeEagle Do you have a clue by now what I might be doing wrong?

[2018-04-20 16:51] king-c opened #351 "Cannot start debugger"
Hello,

I am having an issue starting the debugger.

Steps to reproduce

:VdebugOpt debug_file ~/vdebug.log
:VdebugOpt debug_file_level 2
F5

Log output

- [Debug] {Fri 20 2018 17:48:34} Started
- [Debug] {Fri 20 2018 17:48:34} Listening on port 9001
- [Debug] {Fri 20 2018 17:48:35} Error: (<class 'socket.gaierror'>, gaierror(-3, 'Temporary failure in name resolution'), <traceback object at 0x7ff1

[2018-04-21 11:25] BlackIkeEagle commented on #334
Closing because no further feedback

[2018-04-21 11:25] #334 closed

[2018-04-21 12:34] BlackIkeEagle commented on #312
@r631269 I have not found immediate issues running on macOS with your vimrc, using PHP (xdebug) in combination with vdebug:

https://herecura.eu/files/recording-2018-04-21_14.28.44.mp4

[2018-04-21 12:36] BlackIkeEagle commented on #312
@r631269 could you provide me with a sample project where you encounter this issue? are you debugging python? or node?

[2018-04-21 12:38] BlackIkeEagle commented on #344
@xbot syntax is called on refresh to avoid losing syntax coloring during debugging sessions. maybe there is a better solution. I'll try to look and improve on this for version 2.1

[2018-04-21 12:40] BlackIkeEagle commented on #350
@nexusstar So is this reproducable on ubuntu? or is this specific to the linux subsystem on windows?

[2018-04-21 13:29] BlackIkeEagle commented on #350
@nexusstar ok I can reproduce this. I'm trying to figure out how to solve this

[2018-04-22 12:32] nexusstar commented on #350
@BlackIkeEagle sorry for the late replay and  yes I manage to reproduce it on Ubuntu.

[2018-04-22 15:05] BlackIkeEagle commented on #350
@nexusstar no worries, I can reproduce it and am trying to find a solution. The solution is not as trivial as first thought :(

[2018-04-23 16:18] r631269 commented on #312
Python. Sure, packaged it as a docker image so the debug client is more portable. Here's an example project:

[Dockerfile](https://github.com/r631269/python-debug-sample/blob/deleteme/Dockerfile) for reference. Image includes patched komodo, as instructed by vdebug :help

Place sample.py in a local directory
[code]

Run `docker run --rm -it -w /usr/src/app -v $(pwd):/usr/src/app r631269/python-deb

[2018-04-25 12:37] BlackIkeEagle commented on #312
@r631269 thanks I can reproduce the issue now, the request sent from vdebug is incorrect, if its executed manually subobj is reachable. I'm going to search for a solution

[2018-04-25 14:51] #350 closed

[2018-04-26 21:10] haringsrob opened #354 "Ability to configure active windows"
Would it be possible to configure which panes are active on start?

For me I would like there to be just the variable window and optional toggle of the stack trace.
The debugger stack (3rd window) does not need to be as big by default?

[2018-04-30 14:33] BlackIkeEagle commented on #312
@r631269 with the fix I just pushed I can expand all properties in your example

Thank you very much for providing this super helpfull minimal example.

[2018-04-30 14:43] BlackIkeEagle commented on #351
@king-c I don't seem to be able to reproduce your issue with all the options you have provided. I think it's something local to your machine maybe that was blocking port 9001 or similar. Closing now, if you encounter this again, you can reopen this issue or create a new issue with a reference to thisone.

[2018-04-30 14:43] #351 closed

[2018-04-30 14:44] #312 closed

[2018-04-30 14:51] BlackIkeEagle commented on #354
@haringsrob you could use 'window_arrangement': ['DebuggerWatch', 'DebuggerStatus']. There might be a need to add triggers to open the other windows

[2018-05-01 19:54] kristijanhusak opened #356 "Support for NodeJS 8 and above?"
Hi,

are you planning to add a support for newer NodeJS?

[2018-05-01 20:46] kristijanhusak commented on #356
As described where?

In VDebugSetUp docs i saw that only node 0.10.x is supported, which is now really an old version (Latest is 10.0.x). I tried debugging node 8.7.0 with `--inspect` flag, but that doesn't work, it didn't detect it.

[2018-05-02 05:00] BlackIkeEagle commented on #356
@krisrijanhusak I'll look into it, first thing I found is that you can use komodo-dbgp to debug nodejs. `npm install komodo-debug -g`. I still have to check if that works properly

[2018-05-02 09:01] kristijanhusak commented on #356
I tried, but it threw this error:
[code]

[2018-05-02 15:35] BlackIkeEagle commented on #356
@kristijanhusak I'll have to look into it

[2018-05-02 15:35] BlackIkeEagle commented on #356
Thanks for checking it out btw

[2018-05-16 02:52] bendoh opened #358 "BreakpointRemove * failure when clearing all breakpoints"
`BreakpointRemove *` causes me to get the following message:

`RuntimeError: dictionary changed size during iteration`

And the breakpoints aren't cleared from the BreakpointWindow.

I can clear individual breakpoints with `:BreakpointRemove <id>`, but it's tedious when I just want to clear them all. I think it's an error in the python.

[2018-05-20 20:00] mota57 opened #359 "When I press F3 it convert letters to uppercase instead of step in."
As I said you can see the results in the image

![image](https://user-images.githubusercontent.com/7569989/40283088-f01339a4-5c46-11e8-9061-a370a39edcd2.png)

[2018-05-23 12:30] Garethp opened #360 "Possible Layout Improvement?"
Hey, I just updated my fork of vdebug with the latest current version, and I went ahead and applied my own tweaks the layout (Super easy thanks to the new windows_arrangement option), and I was wondering if you thought it might be worth trying to bring upstream? Here's a picture of what my layout looks like

![screen shot 2018-05-23 at 13 25 56](https://user-images.githubusercontent.com/709912/404

[2018-05-23 12:38] BlackIkeEagle commented on #360
I like the 1 line status, although I'm so used to the vdebug defaults it doesn't bother me.
If it would be possible to have the layout fully configurable that would be the best, then you could just setup your preferred layout in your vimrc

[2018-05-23 12:45] Garethp commented on #360
If you add window height and widths as configuration items then I could provide this whole layout as a configuration example (Apart from the changes to what text is displayed in the status line)

[2018-05-23 12:55] BlackIkeEagle commented on #360
Added it to the 2.1 project, so I'll try to fit it in there

[2018-05-24 03:28] Fandekasp opened #361 "New attempt at setting vdebug with xdebug"
Following #318, I retried setting up xdebug, this time on a docker instance. Unfortunately, I still cannot stop the code execution on a breakpoint, whether I write `xdebug_break()` or press `<F10>` on neovim using vdebug.

Here's my setup

Dockerfile:
[code]

docker-compose.yml:
[code]

nginx container nginx.conf
[code]

php container www.conf
[code]

php container phalcon.ini
[code]

host /etc/ho

[2018-05-24 03:32] Fandekasp commented on #361
While re-reading my post, I saw 2 things:

1. in my vimrc:
[code]
I'm linking to the nginx container, not the php-fpm one

2. in the phpinfo screenshot:
xdebug.idekey has no value, the environment variable looks ignored.

[debugging in progress]

[2018-05-24 03:48] Fandekasp commented on #361
[code]
Well, yeah, php runs on port 9000. I suppose xdebug and php should run on different ports, so I'll go and open port 9001 and update my settings for xdebug & vdebug to connect there

[2018-06-09 16:21] kviolka opened #362 "Type Error when I try to set a breakpoint in a Drupal controller."
- [ERROR] {Sa 09 2018 18:11:31} An error occured: <class 'TypeError'>
Traceback (most recent call last):
  File "/home/k4v/.vim/bundle/vdebug/pythonx/vdebug/event.py", line 524, in dispatch_event
    Dispatcher.events[name](self.__session_handler).run(*args)
  File "/home/k4v/.vim/bundle/vdebug/pythonx/vdebug/event.py", line 262, in run
    if str(status) == "interactive":
TypeError: __str__ retur

[2018-06-11 10:28] jm009 opened #363 "Missing from documentation: start vi from directory, where your script resides"
I followed the documentation from
vdebug/doc/Vdebug.txt

I came to the point, that my php command line script stopped after start, but vi did not display the source code.

After I found out, that I have to start vi from the directory, where the script resides, it works.
This essential information is missing from vdebug/doc/Vdebug.txt.

[2018-06-11 10:34] BlackIkeEagle commented on #363
@jm009 could you specify where you should add it in the documentation? I'm going to assume you are doing local debugging.

[2018-06-11 10:42] jm009 commented on #363
Chapter _4.1 Starting the debugger_ would be fine.

[2018-06-11 11:19] BlackIkeEagle commented on #363
Feel free to open a PR @jm009

[2018-06-12 13:14] jm009 commented on #363
https://github.com/vim-vdebug/vdebug/pull/364
:-)

[2018-06-12 13:19] BlackIkeEagle commented on #363
@jm009 great, really appreciate you took the time :+1:

[2018-06-12 13:19] #363 closed

[2018-06-14 01:28] Fandekasp commented on #361
looks like another service was running on port 9001, causing the conflict.

[2018-06-14 01:28] #361 closed

[2018-06-14 01:45] Fandekasp opened #365 "empty buffer on breakpoint"
Following the installation (https://github.com/vim-vdebug/vdebug/issues/361), here's what I get when php reaches the `xdebug_breakpoint()`

![](https://i.imgur.com/eV8Mzol.png)

@BlackIkeEagle any idea why I get an empty buffer ? instead of seeing the file where the breakpoint was ?

I'm so confused as to how we're supposed to use vdebug, and lot of errors keep popping up

For example:
* I type `:

[2018-06-14 10:05] Fandekasp commented on #365
I had forgotten to set the `let g:vdebug_options.path_maps` to match remote and host files.

[2018-06-14 10:05] #365 closed

[2018-06-20 07:47] lucc commented on #149
@paprykarz this topic is also addressed in #360. As I understand it configuring the interface is a topic for [2.1](https://github.com/vim-vdebug/vdebug/projects/3). Maybe your commits can be turned into a pull request to help with that?

[2018-06-20 08:08] lucc commented on #149
I just fiddled around a bit more and found a way to adjust the window height a bit even with the current code.  I used this vdebug options:
[code]
The values are copied from the plugin file (the defaults). I just added the `+res5` part. See `:h VdebugOptionList`, `:h :new`, `:h +cmd` and `:h :res`.

[2018-06-21 18:29] lskegg-trulia commented on #359
I had the same issue but resolved with help from this webpage just today: http://vim.wikia.com/wiki/Mapping_fast_keycodes_in_terminal_Vim

Here's an excerpt from my .vimrc:
" KEYBINDINGS!
set <S-F1>=^[[23~
set <S-F2>=^[[24~
set <S-F3>=^[[25~
set <S-F4>=^[[26~
set <S-F5>=^[[28~
set <S-F6>=^[[29~
set <S-F7>=^[[31~
set <S-F8>=^[[32~
set <S-F9>=^[[33~
set <S-F10>=^[[34~
set <S-F11>=^[[23~
set <S-F12>=

[2018-07-02 19:56] oldtimeguitarguy opened #366 "DeprecationWarning: the imp module is deprecated in favour of importlib;"
Suddenly, when I open Vim, I receive the following error.

[code]

[2018-07-02 19:59] BlackIkeEagle commented on #366
vim + python 3.7 gives this warning, this is not a Vdebug issue, see https://github.com/vim/vim/issues/3117

[2018-07-02 19:59] #366 closed

[2018-07-02 20:19] oldtimeguitarguy commented on #366
Thank you!

[2018-07-03 14:33] vivoconunxino opened #367 "disable "Force break on first line""
Is it possible? I can't find a way to disable it. I'd like it to stop only at some specific breakpoint

[2018-07-03 14:37] BlackIkeEagle commented on #367
https://github.com/vim-vdebug/vdebug/blob/master/doc/Vdebug.txt#L896

[code]

↑ Should do it

[2018-07-03 14:37] #367 closed

[2018-07-03 14:50] vivoconunxino commented on #367
Thanks, and sorry for the silly question. I focused more on google :'/

[2018-07-04 03:23] anoopd opened #368 "Error after upgrading vim to 8.1"
Hi i am getting the error

    Error detected while processing /Users/anoopd/.vim/plugged/vdebug/plugin/vdebug.vim:
    line   39:
    /must>not&exist/foo:1: DeprecationWarning: the imp module is deprecated in favour of importlib;

Please have a look

[2018-07-04 05:18] BlackIkeEagle commented on #368
Please have a look here: https://github.com/vim-vdebug/vdebug/issues/366 its a vim issue

[2018-07-04 05:18] #368 closed

[2018-07-17 12:14] gquemener commented on #60
Hello :wave:

I would like to know if there's an update regarding the pre-parsing sanitization @joonty ?

I've run into a similar issue today, the parsed xml is:

[code]

which is invalid (because of "invalid character number" `&#0;`).

The full vdebug error trace is:

[code]

And here's the PHP version I'm using:
[code]

Sorry if this has been issued before, I haven't found any reference to it.

[2018-07-17 12:16] BlackIkeEagle commented on #60
@gquemener could you create a new ticket please

[2018-07-17 12:25] gquemener opened #369 "Invalid XML with PHP anonymous class"
Hello :wave:

I would like to know if there's an update regarding the [pre-parsing sanitization](https://github.com/vim-vdebug/vdebug/issues/60#issuecomment-175763879) @joonty ?

I've run into an issue similar to #60 today, the parsed xml is:

[code]

which is invalid (because of "invalid character number" `&#0;`).

The full vdebug error trace is:

[code]

And here's the PHP version I'm using:
[co

[2018-07-17 12:36] derickr commented on #369
The correct way to handle this issue with ``&#0;``, is to use [extended properties](https://xdebug.org/docs-dbgp.php#extended-properties). This is a new feature in Xdebug 2.6 specifically to solve this problem.

[2018-07-17 12:43] gquemener commented on #369
Thank you for your reply @derickr.

However, I'm not sure your comment means that I should fix it in my vim config, or it should be fixed in Vdebug?

[2018-07-17 12:48] derickr commented on #369
It needs to be supported in Vdebug.

[2018-07-17 12:51] BlackIkeEagle commented on #369
thanks @derickr . I can't set a timeframe where this will be implemented, so it might take some time

[2018-07-17 12:54] BlackIkeEagle commented on #369
and parsing of invalid xml will probably be required anyway if only xdebug supports these extended properties

[2018-07-17 18:23] WebWorkDeveloper opened #370 "Vdebug debugging NodeJS"
Hi, I have some problems with connecting inspect agent in my VIM.
I am work with NodeJS on MacOS 10.13.5

I have npm@5.6.0 and node@8.11.3

I check :help vdebug

run `npm install komodo-debug -g`

run `run node-dbgp -h 127.0.0.1 -p 9000 myscript.js` ---> `(node:97350) [DEP0062] DeprecationWarning: `node --debug` and `node --debug-brk` are invalid. Please use `node --inspect` or `node --inspect-brk

[2018-07-20 14:59] gquemener commented on #369
Enabling the feature with the following vim configuration solves the issue:

[code]

Should I close the issue @derickr @BlackIkeEagle ?

[2018-07-20 15:46] derickr commented on #369
I would suggest to make that a default setting, if vdebug supports it, that is.

[2018-08-06 13:33] cprn opened #376 "vdebug + xdebug + nvim = closing connection"
Hi. I used `vdebug` with `xdebug` long time ago, now updated everything, tried again and it doesn't work. Symptoms from the user's point of view:

1. On Ubuntu 18.04.1 I install `php5.6` from `ppa:ondrej/php` and then `php-xdebug`
1. call `sudo phpenmod xdebug` and check the `php -v` output:
[code]
3. I run NVIM v0.2.2, install `vdebug` with `vim-plug`
1. I open some PHP test file, set a break poi

[2018-08-08 21:55] lucc commented on #358
This should be fixed by #371

[2018-08-08 22:06] lucc commented on #320
If I check the version output of vim in my centos container it begins like this
[code]
Note the last lines, they indicate that it was compiled for the official package I guess.

[2018-08-28 12:07] markwu commented on #341
Weird, this issue seems come back again. After recent update, I see `Vdebug is not running` again on vim exit.

[2018-08-31 20:37] jimafisk commented on #317
I thought I had resolved my issue by simplifying the vdebug configuration in my `~/.vimrc`:
[code]
It worked for a little bit, but I seem to be back to square one again. Sometimes it would run if I detached with <kbd>F7</kbd> but now doing that gives me the following error:

[code]

I was also setting a breakpoint in a generic place (`modules/block/block.module`) to test and it appears that code w

[2018-08-31 21:40] jimafisk commented on #317
It doesn't work consistently for me, but when it does work these are the steps:
1. Set the breakpoint with <kbd>F10</kbd> then start the debugger with <kbd>F5</kbd>
2. Go to the browser and refresh the page (this will finish and _not_ continue refreshing)
3. Go back to the editor and see that the debugger windows have popped up but the `DebuggerStatus` says "Not connected"
4. Press <kbd>F7</kbd> t

[2018-09-06 17:15] bendoh commented on #358
Looks good!

[2018-09-06 17:15] #358 closed

[2018-09-06 17:21] bendoh opened #381 "ml_get errors;"
Vdebug 2.0.0  @ 2ebf27b1ffb6752f0ba6cf4ec6be0a7498897d48

I'm trying to figure out how to reliably reproduce this issue, but there seems to be a problem in management of the DebuggerStatus window. At some point, Vdebug enters a state where any command triggers errors akin to this:

[code]

Where the error is always about `ml_get` caused by `set_status`

The only way I can stop this from happening

[2018-09-06 17:44] bendoh commented on #381
Closing this as it seems to be a bug in vim rather than this plugin.

[2018-09-06 20:57] BlackIkeEagle commented on #381
Thanks for the info. Really appreciate it.

[2018-09-07 13:58] bendoh commented on #381
I just updated vim to 8.1.350 and the problem has not reproduced. Great work on the plugin!

[2018-09-12 13:37] choicelildice commented on #376
This is also happening for me, same log. Did you find a solution @cprn ?

[2018-09-13 11:05] cprn commented on #376
@choicelildice Nope, I'm still struggling with this. Using a different IDE for debugging in the mean time.

[2018-10-03 09:49] meymard opened #382 "Fix for Neovim"
Hi,
I fixed neovim problems with, I can't import file patch, I push diff in log file:
[diff_neovim.patch.log](https://github.com/vim-vdebug/vdebug/files/2441480/diff_neovim.patch.log)

thanks to test integration of fix.
Sorry for my english.

Marc.

[2018-10-03 13:37] lucc commented on #382
Thank you for doing work on vdebug!

Can you please open a proper pull request and also give aproper explanation of the bug you are fixing.

If you work with git, you don't need to generate patch files. Please do the following:
1. [clone](https://help.github.com/articles/cloning-a-repository/) this repository: `git clone https://github.com/vim-vdebug/vdebug`
2. make your changes in that clone: `cd

[2018-10-04 17:16] bendoh commented on #381
Reopening this as I'm still encountering it frequently. Once I figure out a reliable reproduction method, I will share it.

[2018-10-04 17:47] lucc commented on #381
I also that there can be some improvement about window management. Especially as the vim python bindings offer a class for buffers and windows and tabs and so on but we keep our own ids around.  But then again that would be a major rewrite of window management of vdebug so it seems like a lot of work...

[2018-10-04 17:56] bendoh commented on #381
Yeah, it's definitely a big chunk of work, but I'm encountering frequent bugginess around that, and I think it'd be worth the investment. It looks like it's really a matter of using the `[:] = []` python expression on a hidden buffer, so maybe it's as simple as ensuring that the buffers aren't hidden when that happens, though I do think it's more of a vim-level issue

[2018-10-12 18:00] Taluu commented on #360
Hey, could there be anyway for you make a PR with your changes @Garethp ? I just cherry-picked it, and there's not much conflicts so shouldn't this be mergeable quickly ?

[2018-10-18 19:02] BlackIkeEagle commented on #381
@bendoh ml_get errors, are you having these on Linux, Mac or Windows

[2018-10-18 20:43] bendoh commented on #381
I just updated to `d3d1672` with @lucc's changes, and it's pretty broken. The windows don't appear in the right place at all. Did this get tested?

My issues occur on a mac, with the following vim:

[code]

This problem frequently occurs when I'm using my php testing tool along with Vdebug, where I often hide the various Debugger buffers during a session to navigate the code. Subsequent invocation

[2018-10-20 15:31] BlackIkeEagle commented on #381
Something went wrong there, the python cleanup changes were resetted

[2018-10-20 21:11] BlackIkeEagle commented on #376
@cprn is there a way for you to update to the latest version of nvim ?

[2018-10-22 07:49] cprn commented on #376
@BlackIkeEagle Awesome! Installed `NVIM 0.3.0` via PPA and it works! I still have to press something to "refresh" the view and see the connection actually established but other than that, it's perfectly usable. I also have a minor issue when trying to close superglobal variable tree in DebuggerWatch (pasting output here in case I forget about it) but I need to go through tickets here and prepare m

[2018-10-22 07:49] #376 closed

[2018-10-22 07:49] cprn commented on #376
@BlackIkeEagle Awesome! Installed `NVIM 0.3.0` via PPA and it works! I still have to press something to "refresh" the view and see the connection actually established but other than that, it's perfectly usable. I also have a minor issue when trying to close superglobal variable tree in DebuggerWatch (pasting output here in case I forget about it) but I need to go through tickets here and prepare m

[2018-10-26 15:52] hek14 commented on #259
@thursdaybw @aburda @BlackIkeEagle Hi, I also got this error.  Can you fix it now? Please tell me if any progress is made.

[2018-10-30 09:13] gvanbeck commented on #333
+1

[2018-11-06 07:52] zhumingyu opened #386 "Vdebug will wait for a connection in the background"
Hi,guys!vdebug does not do anything on pressing F5 ,can give me some advance?

[code]

vimrc conf:

[code]
ubuntu 18.04
VIM - Vi IMproved 8.0 (2016 Sep 12, compiled Apr 10 2018 21:31:58)

[2018-11-07 21:30] FatBoyXPC opened #387 "No option with key background_listener"
I'm not sure when the last time I used xdebug was (probably a few months ago), but at some point something broke:

[code]
Vim 8.1
Arch linux (up to date)
Python 3.7
PHP 7.2.12

vimrc settings:
[code]

[2018-11-08 01:44] zhumingyu commented on #387
@FatBoyXPC hi,guy!can you press F5 and run?

[2018-11-08 01:52] FatBoyXPC commented on #387
That's what gave me the error :stuck_out_tongue:

[2018-11-08 01:55] zhumingyu commented on #387
Do you debug python with vdebug?

[2018-11-08 01:55] FatBoyXPC commented on #387
PHP, xdebug

[2018-11-08 02:54] #386 closed

[2018-11-08 14:22] FatBoyXPC commented on #387
It appears as though I don't get this error anymore after a reboot.

[2018-11-08 14:22] #387 closed

[2018-11-08 15:22] BlackIkeEagle commented on #387
Great @FatBoyXPC that makes it easy :grinning:

[2018-11-10 23:57] AbsurdMagpieScrutinies commented on #382
He's added "noswapfile" to the on_create() function for each of the vdebug windows

[2018-11-11 00:47] AbsurdMagpieScrutinies opened #388 "A clear answer should be given to "Does vdebug work on python3 code?""
Over
* all the internets,
* the vdebug help pages,
* this vim-debug github repository,
* neovim -vs- vim forum discussion re: vdebug;;
* different vim and neovim versions

and there is no statement - at all, let alone a clear answer - to this one question:

*Can vdebug be made to work on on python3 code?*

This is not "has vdebug been programmed to use python3?". It is about what code, python3 cod

[2018-11-12 20:33] shmerl opened #389 "vdebug panels don't resize when terminal geometry is changed"
When debugging is active, and let's say terminal window size is changed, vdebug doesn't resize its panels, and there is no obvious way to resize them manually, since they don't act like regular splits that can be moved with a mouse. Is there some way to resize them?

[2018-11-12 20:34] shmerl commented on #389
Oh, I managed to move them as a regular split. Not sure why it didn't work before. Sorry for false alarm.

[2018-11-12 20:34] #389 closed

[2018-11-15 06:39] AFakeman opened #391 "Error when installing with Vundle"
Added a `Plugin 'vim-vdebug/vdebug'` line and ran `:PluginInstall`. This was the output I got for some reason. Other python3 plugins work (python3 is installed with brew).

[code]

[2018-11-28 09:34] BlackIkeEagle commented on #391
@AFakeman could you provide a little more info? possibly the following:
- vim --version
- a minimal example .vimrc
- your version of macos and brew

[2018-12-09 07:55] ahakanbaba opened #393 "Support disabling/enabling a breakpoint."
Turning on and off breakpoints is quite a common operation. Could we support a dedicated disable enable breakpoint operation ?

As far as I know, one can only delete a breakpoint today.  If the user wants to temporarily not use a breakpoint, she needs to remove it. Later on once she wants to break at the same spot, she needs to find the same line and create a new breakpoint. The id of the breakpoi

[2018-12-09 08:00] ahakanbaba commented on #129
I see that in this issue there is a relevant mention of disabling/enabling of breakpoints. I think supporting that would improve the usability of the plugin significantly. Since this issue has a different topic I have created #393 for that.

[2018-12-09 08:12] ahakanbaba commented on #393
Looking at the [breakpoints section](https://github.com/derickr/dbgp/blob/master/debugger_protocol.rst#id49) in dbgp. I do not see breakpoint_enable or disable.

There are only
[code]
So if we want to support enable/disable  of a breakpoint, we may
1. Modify dbgp and xdebug
2. Maintain some state on the vim-vdebug side.

Not sure whether either of these are feasible or good ideas.

[2018-12-09 14:07] Taluu commented on #393
I think it should be done on the vim-debug side, as patching xdebug / dbgp would be quite a mess I think.

But 👍 for the shortcuts on the breakpoint window.

[2018-12-10 04:30] ahakanbaba commented on #393
May I ping the maintainers as far as I can guess ? @BlackIkeEagle  @lucc  ?
What is your reaction to this ?

[2018-12-10 10:37] lucc commented on #393
Patching xdebug or dbgp is not in the scope of this project. Whoever wants to do something like this can obviously go upstream and do it.

I think for vdebug we should plan and work with the existing protocol. So it seems that the only solution is to keep some state of "disabled" (but officially deleted) breakpoints in vdebug. Now if you want persistence of ids we need to check how vdebug construc

[2019-01-18 21:05] dakruchko commented on #206
Thanks, you just saved my day!

[2019-01-20 12:41] LinArcX opened #394 "Support dart language?"
Hi. i'm curious is it possible to support dart in vdebug or not?

[2019-01-29 20:33] dave2309 opened #395 "F11 endup with a missing `context_id`"
I have been using vdebug for a while now, works great. I actually thank you for it :p.
I have though a little something, might be about configuration but not sure.
When I try to get back from a "vdebugEval" to global variables (F11), I got an python error about not having `context_id`. Any clue what to look for? Or how can I test that?
"TypeError: run() missing 1 required positional argument: 'con

[2019-01-29 20:38] dave2309 commented on #395
First error message is (after hitting F11)
`An error occured: <class 'TypeError'>
Traceback (most recent call last):
  File "/home/david.tourrel/.vim/bundle/vdebug/python3/vdebug/event.py", line 522, in dispatch_event
    Dispatcher.events[name](self.__session_handler).run(*args)
TypeError: run() missing 1 required positional argument: 'context_id'`

[2019-01-29 21:00] dave2309 commented on #395
Second error sometimes closing the first one
`Error detected while processing BufWinLeave Autocommands for "DebuggerLog":
Traceback (most recent call last):
  File "<string>", line 1, in <module>
  File "/x/.vim/bundle/vdebug/python3/vdebug/debugger_interface.py", line 101, in mark_window_as_closed
    self.session_handler.ui().mark_window_as_closed(window)
  File "/x/.vim/bundle/vdebug/python3/vd

[2019-01-29 21:02] dave2309 commented on #395
I try to run without a minimal `vimrc` containing only `vdebug`
OS: ubuntu 16.04
vim: `VIM - Vi IMproved 8.1 (2018 May 18, compiled Jan 28 2019 15:24:39)
Included patches: 1-837
Modified by jonathon.fernyhough@york.ac.uk
Compiled by jonathon.fernyhough@york.ac.uk
Huge version with GTK3 GUI.  Features included (+) or not (-):
+acl               +extra_search      +mouse_netterm     +tag_old_static

[2019-02-06 21:45] robertjk commented on #345
I have a similar error

[code]

Am not able to give steps to reproduce the error, but can include the log with `debug_file_level` set to 2: https://pastecode.xyz/view/5672bcde

[2019-02-11 14:34] maysara commented on #391
I'm facing the same problem, on a debian sid, python3.6 install, vim --version reports +python3 , no .vimrc file ...

[2019-02-18 15:26] Black-Phoenix opened #396 "Faster debuging in Python"
I recently found Vdebug and set it up with Komodo as the debugger for python. The issue is that it is extremely slow for debugging (10s just to load a library, I think due to the backend). How have you guys dealt with this or did use a different DBGP debugger?

[2019-03-06 10:28] kaisa316 commented on #391
我也遇到了相同的问题，是新版的bug吗

[2019-03-11 16:27] daraul opened #397 "Copy variables into buffer"
Is there some way to copy variables into the buffer?

I often find myself needing to copy a variable from the watch window, into my code, but I end up having to copy the output in the watch window, and then correct it's formatting to use it in my code.

Essentially I need to manually turn this:

![image](https://user-images.githubusercontent.com/2440975/54139642-65c6f980-43f8-11e9-90d1-34f8809c3f1

[2019-05-02 10:19] yunxi177 opened #398 "My DebuggerStatus is empty when i debug php"
![](http://pic.artacode.com/Screenshot%20from%202019-05-02%2018-14-52.png)

[2019-05-02 12:12] lucc commented on #398
There seems to be another DebuggerStatus window on the right. That one is not empty. It also lists two maps for `<F6>` one for starting and one for stopping the debugger.  Did you add some key mappings? can you check your maps with `:map <F6>`?

[2019-05-03 01:44] yunxi177 commented on #398
Thanks for your help, i didn't add key mappings. this  is `map <f6>`  return
[code]
The question I'm facing now is  I can't see my code and  i don't know the step running which line.

[2019-05-03 07:40] lucc commented on #398
Ok with the info right now it is impossible to help you any further. Try to do some debugging of the problem and add more info to this issue (like the stuff one normally puts into a bug report anyways: your system, versions how you install and start vdebug, log files etc).

[2019-05-10 19:52] JasonWoof opened #399 "watch window deletes things when not using "expanded" setting"
looks like https://github.com/vim-vdebug/vdebug/issues/144 is happening again.

I'll make a pull request with the fix shortly.

[2019-06-10 08:43] alamsarker commented on #386
Facing same issue. How did you resolve it?

[2019-06-12 21:10] #399 closed

[2019-06-14 14:31] phatsk commented on #360
@Taluu I know this was a while ago, but I just tried @Garethp 's better-layout and I have to say I really like it. I made a PR for the `better-layout` branch, although it may be better to do `master` to `master`? Let me know if this is at all viable: https://github.com/vim-vdebug/vdebug/pull/401

[2019-06-14 15:39] Taluu commented on #360
Yep I've been using his layout for a while now. :}

[2019-06-16 10:03] BlackIkeEagle commented on #396
@Black-Phoenix For python I'm unaware of another dbgp debugger. I mainly use xdebug for php and it has some overhead, but that is not really that big.

[2019-06-16 10:04] BlackIkeEagle commented on #398
@yunxi177 are you still facing problems? first thing I would think about is "is your path mapping correct", because that could cause it for you not to see your code.

[2019-06-16 10:08] BlackIkeEagle commented on #397
@daraul If you could whip up a PR for this that would be awesome.

[2019-06-16 10:09] BlackIkeEagle commented on #395
@dave2309 I'm assuming this is consistent => VdebugEval and then F11 -> stacktrace

[2019-06-16 10:09] #394 closed

[2019-06-16 10:15] BlackIkeEagle commented on #388
The short answer will be "no". I see the activestate dbgp implementation has no python3 support at the time. So we could consider it unmaintained? Even the forks I could find do not support python3.

[2019-06-16 10:15] #388 closed

[2019-06-16 10:17] #381 closed

[2019-06-16 11:45] #129 closed

[2019-06-16 16:15] #359 closed

[2019-06-17 00:36] #398 closed

[2019-06-18 15:04] daraul commented on #397
I've never worked on a vim plugin, but I'll do my best @BlackIkeEagle! :worried:

[2019-06-19 17:31] dave2309 commented on #395
Yes consistent

[2019-06-28 19:47] Mte90 opened #403 "Open the debug without any stacktrace"
![Screenshot_20190628_214225](https://user-images.githubusercontent.com/403283/60367135-c3a24000-99ed-11e9-8a0a-5e59c76d40cb.png)
I am trying with https://github.com/Varying-Vagrant-Vagrants/VVV to get running vDebug.
The issue is with this very basic settings:
`    let g:vdebug_options = {
    \    'break_on_open' : 0,
    \    'ide_key' : 'VVVDEBUG'
    \}
let g:vdebug_options.path_maps = {"/srv

[2019-07-02 15:10] Mte90 commented on #403
any hint for help with the debugging?

[2019-07-03 10:14] Garethp commented on #393
Perhaps I'm missing something, but doesn't the protocol already support this? The dbgp documentation for the [attributes of a breakpoint](https://xdebug.org/docs-dbgp.php#breakpoints) has a property for a breakpoint called `state`, which can be set to `enabled` or `disabled`, so you'd just toggle the breakpoint using `breakpoint_update`.

[2019-07-03 12:07] Garethp opened #405 "Some keymaps aren't optional, despite having a check to see if they exist"
Taking a look at the `vdebug.vim` file shows a bit of an inconsistancy about whether or not the non-debug mode keys are option or not.

[code]

The plugin makes the `if has_key` checks for each key before unmapping them, but then automatically assumes they all exist when it comes to remapping them to their respective functions. This means that despite checking if the keys exist in one place, if yo

[2019-07-03 13:02] Garethp commented on #326
@BlackIkeEagle Should this ticket be closed?

[2019-07-03 13:17] Roy-Orbison commented on #326
It's done.

[2019-07-03 13:17] #326 closed

[2019-07-04 04:56] BlackIkeEagle commented on #403
1st thing you can do to check if something is working is to enable break_on_open

[2019-07-04 05:08] BlackIkeEagle commented on #405
I'll have to check,

first I think the has_key should be done on `a:keymaps`, not on `g:vdebug_keymap` and then the question is, is it usefull, will `extend` not just overwrite the whole of `g:vdebug_keymap`

[2019-07-04 10:05] Mte90 commented on #403
Removing break_on_open I get it working (I am on another computer):
![immagine](https://user-images.githubusercontent.com/403283/60658292-2d3da680-9e53-11e9-9789-955dc259aa69.png)

but with wordpress is useless...

[2019-07-05 05:23] BlackIkeEagle commented on #403
I'm not sure what you mean with

If I can guess, you mean nothing happens in wordpress, then that sounds normal, because you are blocking further execution?

[2019-07-05 05:36] #232 closed

[2019-07-05 05:37] #393 closed

[2019-07-05 09:50] #360 closed

[2019-07-05 11:32] Garethp commented on #149
@BlackIkeEagle This issue can be closed now

[2019-07-05 11:57] Mte90 commented on #403
Sorry for the misunderstoonding.
I mean that break_on_open in wordpress is useless, so is better to disable it but in that way vdebug is not working for me.

[2019-07-05 13:59] Garethp commented on #356
@BlackIkeEagle It looks like this is a problem with komodo, but the posts on their forum didn't get turned into an issue on their Github until April this year, but its progress can be tracked [here](https://github.com/Komodo/KomodoEdit/issues/3749). It looks like node doesn't implement dbgp debugging, but rather Chromes V8 Inspector, which has its own protocol over a websocket conncetion. I don't

[2019-07-05 19:02] #370 closed

[2019-07-05 19:13] #149 closed

[2019-07-05 19:15] BlackIkeEagle commented on #356
Will have to update the documentation that node is no longer properly supported

[2019-07-05 19:19] #292 closed

[2019-07-05 19:21] #395 closed

[2019-07-06 06:24] BlackIkeEagle commented on #405
The behaviour is correct, and it should keep the `if has_key` when starting vdebug, once vdebug is initialized it will have the keys.

In the lower part of the function you can make that assumtion that the keys exist because there should only be calls to mappings defined in g:vdebug_keymap_defaults

[2019-07-06 06:24] #405 closed

[2019-07-07 08:06] #362 closed

[2019-07-07 21:08] #42 closed

[2019-07-07 21:08] BlackIkeEagle commented on #42
This now works thanks to #413

[2019-07-07 21:09] BlackIkeEagle commented on #348
This is now available thanks to #413

[2019-07-07 21:09] #348 closed

[2019-07-08 13:53] dave2309 commented on #395
Fix does work great thanks!

[2019-07-08 16:50] Mte90 commented on #403
I saw the new commits, so I wanted to try the new changes but the result is similar.
![immagine](https://user-images.githubusercontent.com/403283/60827664-fd730380-a1b0-11e9-85a0-13b84dd22c20.png)

[2019-07-09 10:59] romanhandke opened #420 "Vim remote xdebug into docker container"
Hey everyone. I am currently trying to set up my nVim to remote debug PHP which is run inside a Docker container. By this point I am almost certain I am overlooking something hilariously obvious but I have been banging my head against this for so long I can't seem to figure it out.

Before I found that I switched to the php:apache image. Then I installed xdebug and added my custom xdebug.ini via D

[2019-07-09 14:32] #420 closed

[2019-07-10 11:17] BlackIkeEagle commented on #420
@romanhandke the solution to your problem was?

- docker gateway ip was incorrect? did you have to update the `XDEBUG_REMOTE_HOST` to another value?

[2019-07-10 11:31] BlackIkeEagle commented on #356
In conclusion, it does not look like anyone is trying to get dpgp support working for newer versions of NodeJS. Even komodo IDE where the support initially started does no longer support dbgp for NodeJS debugging but relies on the v8 devtools for debugging.

[2019-07-10 11:31] #356 closed

[2019-07-13 12:49] Mte90 commented on #403
I am not sure that the latest changes to the plugin help with my issue, there are any kind of debugging that I can do to understand what is happening?

[2019-07-13 16:31] BlackIkeEagle commented on #403
The changes are unrelated to your issue. I'm going to look into it with time.

[2019-07-14 13:40] Shadowsith commented on #257
How about to change the ruby debugging to this gem: pry-byebug ?
Its a GDB-like console debugging tool and works well with ruby 2.6.x
https://github.com/deivid-rodriguez/pry-byebug

It supports commands like break, next, continue etc. but don't know if this could be integrated in vdebug.

[2019-07-25 20:02] JasonWoof opened #422 "Hangs php until I press a key"
I refresh the page or run the ajax call or whatever's runs php with xdebug, then nothing happens (php doesn't run, vdebug interface doesn't pop up)

I want vdebug to run at this point.

Workaround: I press an arrow key then vdebug starts up.

Request: I'd like vdebug to run automatically when php/xdebug connects, and not wait for me to touch the keyboard. Maybe this was not possible when vdebug wa

[2019-07-25 20:06] JasonWoof opened #423 "vim hangs on exit if vdebug was run"
Reproduce:

debug something with vdebug (eg set a breakpoint, then set it to continue so the php/http process finishes)

close out of the debugger so I'm back to just editing a file.

quit vim

result: vim freezes and must be killed -11 by another terminal

request: vim should quit

workaround: if I press the vdebug "detach" and "close" keys before quitting then vim quits just fine. Maybe only one

[2019-07-30 15:42] proff321 commented on #422
I noticed the same issue while working with a PHP code base.  You must refocus on vim before the debugger will allow the PHP script to continue execution.  In my case, I was having to press `F5` which somehow "woke up" the plugin and then continued the execution of the script.

Thus far I've located [the logic](https://github.com/vim-vdebug/vdebug/blob/e265b81a3ffef5ffcc6061a69cd04e3fb8556b57/pyth

[2019-07-30 16:00] JasonWoof commented on #422
:) that looks like the problem all right :)

Looks like it's checking for a debuggable process on keypress/focus/etc.

Instead, in versions that support it (8+ I think) I'd like vdebug instead to call job_start(... {'out_cb': ...}) or some such so it can be notified immediately when a debugger is requested.

[2019-08-05 15:47] BlackIkeEagle commented on #423
@JasonWoof Thanks for your report, I can confirm this happens:

- start vim
- listen
- run php script
- press F5 to make the script contiue
- vdebug gets back in listening mode (with debug ui open)
- `:qa`
- hangs forever

[2019-08-05 15:50] BlackIkeEagle commented on #422
I can't reproduce this issue consistently, I only have this occasionally which made me not really look into it.

[2019-08-05 17:47] JasonWoof commented on #422
Do you run vim in the terminal? It's a little easier there, because it doesn't have the ``FocusGained`` event.

Also, inconsistency is probably caused by the ``CursorHold``/``CursorHoldI`` callbacks, which trigger after an inactivity delay, mine is after 4 seconds of no keyboard activity. See ``:help CursorHold``

As a temporary workaround you could ``:set updatetime=500`` in your ``.vimrc`. This

[2019-08-05 19:05] Taluu commented on #422
I also have to always input something (even only a `h` does thew rtrick) for vdebug to show the interface.

[2019-08-05 20:26] BlackIkeEagle commented on #422
@JasonWoof Yes I always run vim in the terminal and I very occasionaly have this issue. I will look into it if I can find something. I shortly looked at the channel stuff but have to figure out if this is possible directly in python.

[2019-08-17 07:36] romanhandke commented on #420
@BlackIkeEagle sorry, it took me a while to see your question.

My problem was, that any incoming connection on Port 9000 was blocked by ufw ... so it was - after all - something dumb.

As I understand it XDEBUG_REMOTE_HOST is overruled by `XDEBUG_REMOTE_CONNECT_BACK` (if active) anyway and thus can be skipped.

My Xdebug config () simply consists of
    zend_extension=/usr/local/lib/php/extension

[2019-09-06 13:59] cprn opened #425 "dots in watch window"
Hello,

First of all, I'm very happy with vdebug, keep up the good work!

The minor issue I'm having is while displaying context of complex objects in the watch window, it sometimes trims to "..." (three dots). Can this be configured so it would display all of the object properties?

![image](https://user-images.githubusercontent.com/6132708/64433706-4b2bbf80-d0bf-11e9-9eec-24788ffe54a6.png)

[2019-09-17 04:25] mzagol commented on #425
By default, number of child elements is limited to 32. You can override it by setting `max_children` property to a value that's more appropriate for your project. For example:

`let g:vdebug_features = {"max_children": 128}`

[2019-09-17 07:12] cprn commented on #425
Awesome, exactly what I was looking for, thank you!

[2019-09-17 07:12] #425 closed

[2019-09-20 12:17] doronbehar opened #426 "Requests from different threads should be wrapped with nvim.async_call(cb, ...)"
I use Komodo's pydbgp in order to debug Python scripts. I get the following harmless error when stopping the debugger:

[code]

Not sure if it's easily fixable but I hope my report is useful.

EDIT: Thanks for creating this Vim Plugin BTW :) It seems very promising and much better then the very few alternatives.

[2019-09-21 15:14] doronbehar commented on #157
I think the patch is outdated for the latest version.

I've installed the version available in pip ([packaged / maintained](https://github.com/agroszer/komodo-python3-dbgp) thanks to @agroszer) and then manually edited `client.py` according to the original patch and the problem was fixed.

Maybe @agroszer would be willing to patch it in his version, as part of the packaging process of every releas

[2019-09-21 15:18] doronbehar commented on #349
Maybe your breakpoint is not encountered?

[2019-09-30 20:22] Mte90 commented on #403
any updates?

[2019-10-04 17:50] juacala opened #427 "F2 and F3 capitalize letters rather than stepping"
When in debug mode, if I hit F2 or F3, it changes two letters my cursor is over to uppercase, and does not step. (F5 F6 F9 all work as one would want).

Is it possible there are other settings someplace that are conflicting with these key bindings?

[2019-10-04 17:57] juacala commented on #427
It appears this is due to being run within a screen session. If use the debugger outside of a screen session, it works fine. Still, any settings I can use to fix this, and allow me to use it within a screen session?

[2019-10-05 08:33] lucc commented on #427
If it is messed up inside screen but not outside you should check your terminfo settings.
* which escape sequence does the terminal/screen send for F5: try `CTRL`+`V` and then `F5` in the shell
* what escape sequence is configured in vim for F5? `:set t_f5?`
* what mappings are there for F5: `:map <F5>`

[2019-10-06 17:59] Mte90 commented on #403
Let me know how I can help, I am available to investigate in the code but I have no glue how works xDebug.
This issue is blocking me to use vim as daily tool and improve also my dev workflow.

[2019-10-06 18:29] determin1st commented on #403
With xDebug, you can use `xdebug_break();` where you need to break on.

[2019-10-06 18:39] determin1st opened #429 "Error starting Vdebug: <class 'UnicodeEncodeError'> in win7 os"
![222](https://user-images.githubusercontent.com/16524081/66273913-3a26c780-e892-11e9-81f6-fa98d2600b3d.png)

looks like it happens at `.encode()` in `connection.py`..

[2019-10-06 20:31] Mte90 commented on #403
Thanks for the hint, with that xDebug works as intended with vdebug!

If I try to put breakpoints in vim they are not reconized. At least I found a way to use it, thanks a lot!

[2019-10-31 16:59] ltgouvea commented on #422
I've been experiencing this issue everytime I use vdebug (currently on deepin-terminal, but I'll test some others later) :thinking:  @BlackIkeEagle Please, what terminal are you using?

[2019-10-31 18:23] baptx opened #430 "wrong version number in latest release"
The latest release 2.0.0 that can be downloaded on GitHub (https://github.com/vim-vdebug/vdebug/releases) indicates version 1.4.1 instead of 2.0.0 in the file `/plugin/vdebug.vim`.

[2019-11-04 15:52] drasill commented on #422
I have the same issue, not occasionally though, but every time.
I'm using `neovim` on `terminology`.

[2019-11-04 18:14] BlackIkeEagle commented on #19
@baptx yes, when the previous request is finished and another hits vdebug it will start debugging immediatly

[2019-11-04 18:17] BlackIkeEagle commented on #422
@ltgouvea I'm mostly using termite, but also konsole (kde) and gnome-terminal, there is a need for a solution to trigger the debugging interface once a connection is there, but I did not take the proper time to look into it

[2019-11-04 18:20] BlackIkeEagle commented on #430
https://github.com/vim-vdebug/vdebug/blob/204e5150fd7a50519cfc23fe1c61b90af0cd105f/plugin/vdebug.vim#L11 Missed that, its still like this in the current master, this is not actually a serious issue since its just a comment, but should get updated in the next release

[2019-11-04 18:20] #430 closed

[2019-11-04 20:53] JasonWoof commented on #422
I think this bug is less evident/reproducible on graphical instances of Vim because vdebug checks if it should start the debugger interface when the FocusGained event fires. Terminals don't notify vim about focus, hence needing to press a key in non-graphical vim instances.

[2019-11-13 19:01] heylookltsme commented on #403
I'm having this same issue. Setting a break point with vdebug opens the the debugger with no output and then a message right away that says "waiting for a connection: none found so far". And if I try to use the step commands I get, "Step over is only possible when Vdebug is running."

Using `xdebug_break()` instead works as expected. 👍

Please let me know if I can provide more information that wou

[2019-11-15 05:31] skotos commented on #423
I'm experiencing this myself. This is what I have found...

* $ vi index.php
* :autocmd VDebug

* F5 (start debugger)
* :autocmd VDebug

* F6 (stop debugger)
* autocmd VDebug

And all the commands are **GONE** - including the one to close the debugger on VimLeavePre.

Now to find where it is being removed.

[2019-11-15 05:48] skotos commented on #423
Found it.  Listener.py:59 is removing all autocmds after the listener closes. I see two ways of fixing this.

**FIX A:** Reinsert the original autocmd after Listener closes.

[code]

**FIX B:** Put the VimLeavePre autocmd in its own unique group so that it isn't abolished with the rest of the autocmds when the Listener closes.

[code]

I can do a PR for either.  Which would be best?

[2019-11-15 06:15] lucc commented on #423
@skotos the second approach looks cleaner to me.

[2019-11-15 07:06] skotos commented on #423
I agree with the second approach being cleaner. I've only started digging into the code so I'm not sure if anything destroys the debugger object. It is created in plugin/vdebug.vim:112 and is not destroyed in this file. I may have time tonight to have a closer look but I believe it persists till the end of vim. (anyone else know?)

[2019-11-15 08:46] skotos commented on #423
Whilst a destructor is declared for DebuggerInterface, I see nowhere that del is called on the debugger object. I think it is safe to say that it is ok to keep the VimLeavePre autocmd active. I'll submit a PR for review. Cheers.

[2019-11-18 12:38] #423 closed

[2019-12-01 22:01] Dornat opened #433 "Index out of bound"
Currently I'm trying to debug remote php project in docker. And it runs great but every time I want to see properties and open them by pressing enter there is an error that shows up constantly:

[code]

And in log file there is this stuff.

[code]

Maybe this line that says about "writing 5 properties to the window" but an array has only 4 elements can be somehow connected to this. Just shot in th

[2019-12-04 01:24] Raensul commented on #362
There is a new one connected to the fix.

[code]

[code]

[2019-12-04 19:56] Raensul opened #434 "Type Error when I try to start debugging session"
TypeError on master branch while trying to start debugging session.

[code]
macbook pro, MacOS Catalina:
[code]
It might be related to https://github.com/vim-vdebug/vdebug/issues/362

[2019-12-17 03:36] derekhamilton opened #435 "Breakpoints are ignored with docker goes straight to completion"
Sorry if this is the wrong place for this but I don't know where this is failing. I have a successful connection and can step forward in the code. But setting a breakpoint then pressing F5 to go to the breakpoint (or disabling break on entry) will execute the rest of the code without hitting the breakpoint and I can't figure it out.

I've tried various versions of setting `path_map` without any su

[2019-12-26 09:44] loonies commented on #295
I have 50+ plugins and Vdebug startup time is the slowest one - about 11x slower than the next to slowest. This is a huge slowdown, given Vdebug (at least in my case) is used rarely.

Using [hyiltiz/vim-plugins-profile](https://github.com/hyiltiz/vim-plugins-profile)

[code]

[2020-01-14 09:38] gvanbeck commented on #433
+1

[2020-01-17 12:28] ossie-git commented on #429
I ran into something similar on a Ubuntu box.  The solution was to add the following two lines to my .vimrc file:

[code]

[2020-01-17 13:27] determin1st commented on #429
@ossie-git

thanks, i've only recently managed to find some setting.. with windows os

`set encoding=utf-8`

will not work, you also need

`set renderoptions=type:directx`

for gvim...

[2020-01-23 02:08] wiowou opened #436 "E239: Invalid sign text"
I'm using Vim 8.2 on arch Linux and get the E239 Invalid sign error every time I start vim (and Vdebug doesn't work when I try to debug either). Lines 144 through 146, the DefineSigns() function are the problem.

The plugin worked fine in an older version of Vim but I think changes in newer version of Vim broke Vdebug.

[2020-01-23 02:26] wiowou commented on #436
Sorry, I should have looked a bit longer. Force ascii symbols solves my problem.

[2020-01-23 07:55] #436 closed

[2020-01-28 20:16] Xepe commented on #307
where should be located xdebug.so ?

[2020-02-03 08:34] welblaud opened #437 "Python3 support problem"
I still can't make this work. On Debian, 10 I have:

[code]
and
[code]
but Vim complains:
[code]
Any idea?

[2020-02-03 08:37] BlackIkeEagle commented on #437
which package of vim do you have installed, I just installed `vim-nox` and that one has +python3

[2020-02-03 08:40] BlackIkeEagle commented on #435
Thanks, I'll reproduce this locally and figure out a fix

[2020-02-03 08:42] BlackIkeEagle commented on #434
thanks I'll have to add more checks there

[2020-02-03 08:42] BlackIkeEagle commented on #433
Thanks I'll have a look

[2020-02-03 08:44] BlackIkeEagle commented on #429
@determin1st does your solution fix the issue? or does it need further investigation?

[2020-02-03 09:07] determin1st commented on #429
@BlackIkeEagle oops, i did forget to test it :/ im pretty sure it will solve..

[2020-02-03 09:26] welblaud commented on #437
As far as I remember, it is the default Vim installed with Debian 10:

[code]

[2020-02-03 11:27] BlackIkeEagle commented on #437
could you give me the output of `dpkg -l | grep vim` ?

[2020-02-03 12:08] welblaud commented on #437
Sure:
[code]

Should I install `vim-nox` explicitly?

[2020-02-03 12:10] BlackIkeEagle commented on #437
vim-tiny is definitely not the version you want to have, I think `vim` is a metapackage in debian? So I would go for `vim-nox` or if you want gui too for `vim-gtk3`, those should have python3 enabled

[2020-02-03 16:00] welblaud commented on #437
Sure:
[code]

Should I install `vim-nox` explicitly?

[2020-02-03 16:00] #437 closed

[2020-02-03 16:01] welblaud commented on #437
Thanks, with vim-nox it definitely works!

[2020-02-04 06:34] JJP7 opened #438 "Possibly missing comma"
Hello, I am trying to debug python code and while I was doing so,
I tried to evaluate highlighted expressions in visual mode with ``<Leader>e`` but it was giving error messages saying:
``Traceback (most recent call last):``
  ``File "<string>", line 1, in <module>``
``AttributeError: 'DebuggerInterface' object has no attribute 'eval_visual'``

Also before this, I followed the fix in https://gist.g

[2020-02-04 06:40] JJP7 commented on #438
I have created a pull request

[2020-02-04 06:50] BlackIkeEagle commented on #438
Thanks :+1:

[2020-02-04 06:50] #438 closed

[2020-02-13 09:02] mstuessy commented on #370
Why is this issue closed? Is there a solution?

[2020-02-21 13:11] artfulrobot opened #440 "Current line highlighting is overridden by Breakpoint line highlighting"
This means it's hard to see what line you're stopped on if there's another breakpoint line nearby.

I think the old behaviour was that the current line highlighting was more important than the breakpoint; this was clearer.

[2020-03-09 13:16] Taluu commented on #369
Just had this problem, and fixed with the config proposed by @gquemener. Making this as the default should be the way to go imo.

[2020-03-22 20:29] StotoV opened #442 "Jump to breakpoints"
It would be nice to jump to the different breakpoints. Preferably from the breakpoint window.

[2020-03-22 20:30] StotoV opened #443 "Remove breakpoints from the breakpoint window"
This is much easier than typing the BreakpointRemove command with the ID if you have a lot of breakpoints in a lot of different files.

[2020-03-23 07:58] StotoV commented on #442
I decided to pick this task up and create the feature! Pull request coming soon.

[2020-03-23 09:48] StotoV opened #444 "Source window not properly changing buffers after jump from the stack window"
## Issue:
The source window does not jump to the correct buffer when an item of the stack is selected.

## Reproduce:
### Code:
Project with two files; index.php and class.php

**index.php**
[code]

**class.php**
[code]

### Steps
**Open vim**
[code]

**Run debugger**
```F5```

**Start server with index.php**
[code]

**Refresh localhost:8080 to activate debug session**

**In vim open the class fil

[2020-03-23 14:06] StotoV commented on #444
It seems this only happens whenever there is one item in the stack. If another item is added the program behaves as expected.

[2020-03-23 17:57] StotoV opened #448 "Toggle breakpoints from breakpoint window"
Toggle breakpoints from breakpoint window

[2020-03-29 08:44] #444 closed

[2020-04-21 07:32] BlackIkeEagle commented on #448
thanks

[2020-04-21 07:32] #448 closed

[2020-04-21 07:32] BlackIkeEagle commented on #443
thanks

[2020-04-21 07:32] #443 closed

[2020-04-21 07:33] BlackIkeEagle commented on #442
thanks

[2020-04-21 07:33] #442 closed

[2020-04-24 17:43] przepompownia opened #450 "Please document new functionalities"
I know about #447  because of watching this project but this good job was merged without documentation. Remember about non-watchers.

cc @StotoV

[2020-04-24 18:14] przepompownia opened #451 "Error after close an empty breakpoint window"
VIM - Vi IMproved 8.2 (2019 Dec 12, compiled Apr 05 2020 03:20:13)
Included patches: 1-510
[code]

[2020-04-24 18:19] przepompownia opened #452 "neovim: dd on breakpoint window does not work"
[code]

[2020-04-24 18:36] przepompownia opened #453 "Neovim: error when closing the connection"
[code]

[2020-04-26 11:05] przepompownia opened #456 "hi DbgCurrentLine is overridden by DbgBreakptLine"
Setting priority is enough to make highlighting of the current line visible when it contains a breakpoint too.

[2020-04-26 11:34] przepompownia commented on #451
Similar error is thrown after closing one of Vdebug window before closing connection.

Maybe these buffers should become hidden instead of trying to destroy them prematurely?

[2020-04-29 10:00] Kevin66Z0 opened #457 "TypeError: __str__ returned non-string (type NoneType)"
[vdebug.debug.log.save.zip](https://github.com/vim-vdebug/vdebug/files/4550982/vdebug.debug.log.save.zip)

- [ERROR] {Wed 29 2020 17:48:03} An error occured: <class 'TypeError'>
Traceback (most recent call last):
  File "/Users/zhulin/.vim/bundle/vdebug/python3/vdebug/event.py", line 771, in dispatch_event
    Dispatcher.events[name](self.__session_handler).run(*args)
  File "/Users/zhulin/.vim/bu

[2020-05-01 12:29] bitwombat opened #458 "Vdebug is not running" flashes right before vim closes"
FYI, this issue (same as #341 and #343) is back with f9c4764, but isn't present in v2.0.0.

[2020-05-07 14:55] meldafert commented on #453
This is a duplicate of #426 .

[2020-05-07 15:19] meldafert commented on #426
The problem is the `print` call in [BackgroundSocketCreator.run()](https://github.com/vim-vdebug/vdebug/blob/f9c4674eeeec0fa501de7b17a21c17fe81c19c9e/python3/vdebug/connection.py#L199), as print communicates with vim/nvim, and nvim appears to only allow that from the main thread.

One way to fix the common case would be to not use an Exception when only exiting; however, in the case where an actua

[2020-05-09 08:56] BlackIkeEagle commented on #450
ths documentation update was merged

[2020-05-09 08:56] #450 closed

[2020-05-14 07:46] alfredbez commented on #457
This is possibly a duplicate of #434

[2020-05-15 06:08] BlackIkeEagle commented on #458
should be fixed now

[2020-05-15 06:08] #458 closed

[2020-05-15 06:10] #456 closed

[2020-05-15 06:10] BlackIkeEagle commented on #456
You fixed it yourself, thanks for that

[2020-05-15 15:13] mlapai opened #461 "Does not break when multiple requests fired"
Hi,

Lets say that im firing 2 consequtive requests from frontend application:
1. /something
2. /something-else

And i've set my breakpoint to debug first request code. If debugger gets another request after, he will just ignore my breakpoint that is set to debug first request (im guessing it does not stop because he gets new connection and probably resets debugging). Is it possible to force stop

[2020-06-08 15:35] serundeputy commented on #165
@chrisnojima @joonty did you folks get this working? I'm trying to use vdebug via ssh tunnel.

[2020-06-08 15:40] chrisnojima commented on #165
Sorry I don't use this anymore

[2020-06-08 16:11] przepompownia commented on #165
@serundeputy maybe details about tunnel configuration are needed to help you by anyone.

[2020-06-08 16:39] serundeputy commented on #165
I'm using `neovim` w/ `vdebug`: https://github.com/serundeputy/gffNeovim/blob/master/gff.init.vim#L182

Connecting to a remote host on platform.sh using `lando platform xdebug` like so https://docs.platform.sh/languages/php/xdebug.html

This opens a tunnel on port 9000:

[code]

I'm not sure if i need addtional `vdebug` config in my `init.vim` if you spot anything amiss i would appreciate it.

[2020-06-08 17:11] przepompownia commented on #165
It still does not seem to reveal (anonymized) enough details how do you create port forwarding by your SSH client. Your VDebug probably listens on the default port 9000 on all interfaces of your local machine. If so, you did not explain how your remote machine can achieve port 9000 on your local machine.

Probably at least one remote port forwarding can be needed (unless your local machine is acce

[2020-06-09 08:59] VladSavitsky opened #462 "Debug sessions starts only in webroot"
Thanks for this great plugin for vim. I spent a lot of time to configure and troubleshoot but can't solve this problem. Please help me. I'll provide all information you need.

## Problem
Debugging session started only when breakpoint set in any file in webroot.
Files in webroot works file but any file (code defenetly must be called each page request) in subfolder closes debug session.

## Details

[2020-06-09 09:53] VladSavitsky commented on #462
Here is the screenshot of break points on file in subfolder.
https://prnt.sc/swg3ye

[2020-06-09 11:31] przepompownia commented on #462
At the first glance: you have
`let g:vdebug_options.path_maps = {'/var/www/html': getcwd()}`
Do you control what is the current directory each time? Probably not:
`autocmd BufEnter * silent! lcd %:p:h`.

You do not need to disable this autocommand, but you probably need to make the local part of the map constant.

Assuming that you start opening vim in the project root directory, you can customize

[2020-06-09 12:21] VladSavitsky commented on #462
I'm using plugin which gets project root and update mapping:
[code]
So remote webroot: /var/www/html
Local webroot found by 'tags' file automatically.

```:echo g.vdebug_options ```

gives:

[code]

So we have correct mapping:
```'path_maps': {'/var/www/html': '/home/vlad/projects/revolver/koster/code/public_html'}```

'/home/vlad/projects/revolver/koster/code/public_html' is a real path but 'pwd'

[2020-06-09 12:38] serundeputy commented on #165
thanks.

I'm in over my head. `psysh` is good enough for me to solve my current problem (although slightly painful).

thanks for the help.

[2020-06-09 12:55] VladSavitsky commented on #462
Debugging session not started for breakpoints inside function which called each page request in file from subfolder (not webroot). But breakpoints in the same file but outside functions works fine:
https://prnt.sc/swk11i
(breakpoint at 'include_once' at the beginning of file).

[2020-06-09 13:03] VladSavitsky commented on #462
I've found a workarround which works:
[code]
Could this help to solve this issue? Is problem in setting breakpoints?

[2020-06-09 13:09] przepompownia commented on #462
I stopped searching for your `path_maps` setting at the first result and did not expect any next.

I made link to my project, but with untouched path maps to the real path on the local side. VDebug stopped on a breakpoint. Then I changed local side to the linked path and I was unable to break at the same place. Conclusion: try to use realpath on the local side (see `:help resolve()`).

I noticed (

[2020-06-09 13:13] przepompownia commented on #462
We would to try to force VDebug to send linked form in `breakpoint_set` request but I doubt it is needed and if it would not be problematic.

[2020-06-09 13:16] VladSavitsky commented on #462
Could you please give me direct instuctions what to do and what debug information to collect.
Now I'm going to:
1. Remove symlinks and test again.
2. Read :help resolve().
Did I missed something?

[2020-06-09 13:27] przepompownia commented on #462
You don't need to remove symlinks, but to try
[code]
Word about your experiment: if you set logging at the remote side and use `xdebug_break()`, then you can see response like this:
[code]
This direction works with path map set to link probably because Vim is able to translate remote path to the linked local path. In the opposite direction, sending request to set breakpoint to unmapped path result

[2020-06-09 14:08] VladSavitsky commented on #462
I tried this:
[code]
Result is the same. xdebug_break() and F10-breakpoints after this command works but breakpoints before not work.
I far as I understand 'resolve()' fixes symlinks and make mapping to real directory and for now (even without 'resolve()') it works fine. So mapping has real path but vim started under symlink. That's why I want to change directory to check if it could be a problem.

[2020-06-09 14:12] VladSavitsky commented on #462
Changing working directry not work also. Seems it doesn't matter is it real path or symlink.

[2020-06-09 14:13] przepompownia commented on #462
Can you set
[code]
at the remote side and inspect the paths that are present in requests from VDebug?

[2020-06-09 14:23] VladSavitsky commented on #462
Sure. I'll try. Seems using 'resolve()' in my case not required because 'projectroot' plugin do it for me.

[2020-06-09 14:26] przepompownia commented on #462
I did not reproduce your scenario with symlinked local path and a breakpoint below `xdebug_break()`.

[2020-06-09 14:39] VladSavitsky commented on #462
Here is the log:
https://gist.github.com/VladSavitsky/de8ab797b0a0ba4f451a623b1e69adda
You was right - there are wrong paths.

[2020-06-09 14:52] przepompownia commented on #462
Isn't is simpler to define constant path map in `.exrc` at the top of project dir instead of relying on these provided by plugin?

If you use `php-fpm`, you do not have to restart whole process to reload xdebug configuration. Sending `USR2` signal should be enough:
[code]

[2020-06-09 14:57] VladSavitsky commented on #462
I'm not very good in vim and don't understand most things.
 ```.exrc``` allows to have local .vimrc in folder. I need to create this file in webroot?
You suggest to
1. Create .vimrc file in webroot with content:
[code]
2. Add to the end of main .vimrc this:
[code]
Is it correct?

[2020-06-09 15:34] przepompownia commented on #462
1. `.exrc` literally (not `.vimrc`) should be sourced if you start vim/nvim in the directory that contains it.

You cal also try to exec `VdebugPathMap` manually.

Notice that you have
[code]
It is executed **once**, after doing all the startup stuff (as `:help VimEnter` says). It can overwrite things sourced from both `.vimrc` and `.exrc`. If you want to test changing the map at opening the new f

[2020-06-09 15:43] przepompownia commented on #462
You can also debug the communication using VDebug only:
https://github.com/vim-vdebug/vdebug/pull/463/files

[2020-06-09 19:40] VladSavitsky commented on #462
**Thanks for your help.** I learned a lot about vdebug and xDebug solving this problem. I have a lot of projects and don't want manually change mapping each time. So I ended up with permanent path in mapping (not real path but symlink to current project).

## My solution
1. Removed 'vim-projectroot' plugin which probably incorrectly updated vdebug settings with wrong mapping path when new buffer o

[2020-06-09 19:45] #462 closed

[2020-06-21 04:21] bitwombat opened #465 "VdebugEval error "required argument [l:length] missing""
Same as #157, but issue was closed without updating the patch.

No complaining - thanks for all the hard work with Vdebug!

[2020-06-25 10:21] BasCostBudde opened #466 "Run to, step in, step over: Vim(sign):E474: Invalid argument"
I just installed the plugin into my vim 8.0 using pathogen. I start a session with F5, just fine, and want to run to the first breakpoint by F9. This gives me the error 474.

Error detected while processing :
Traceback (most recent call last):
  File "/home/bas/.vim/bundle/vdebug/python3/vdebug/event.py", line 779, in dispatch_event
    Dispatcher.events[name](self.__session_handler).run(*args)

[2020-06-25 11:03] jmarsman commented on #466
Try to update your vim to 8.2.

vdebug is trying to set a priority on a sign, which is not supported by vim 8.0

[2020-06-26 08:59] cprn commented on #426
Hi. Please confirm it's the same bug and if so, raise the severity, because this happens when I try to run `:VdebugStart`:

[code]

And after pressing enter:

[code]

Side question: how do I downgrade to get it working? Using `vim-plug`.

[2020-06-26 11:02] cprn opened #467 "Feature request: share binding for `eval_visual` and `eval_under_cursor`"
Hi. Currently we can set two separate bindings for:
* evaluating a variable or expression under the cursor
* evaluating a visible selection

These two operations are in two separate modes (visual and normal) and therefore could share a binding leaving one more functional key free to do different things. It's a low priority as one can set them to, let's say, `<f1>` and `<c-f1>` but it'd be more con

[2020-06-27 16:02] jpcampbell opened #468 "Error messages on vim startup from terminal app"
From my iPad, when using any terminal app I have tried, I get this when I start vim.  It starts up without messages on my Mac in any terminal.  Any ideas how to start resolving this?

Error detected while processing function Vdebug_load_options[8]..<SNR>29_DefineSigns:
line    1:
E239: Invalid sign text: ▒~V▒
line    2:
E239: Invalid sign text: ▒~V▒
line    3:
E239: Invalid sign text: ▒~V~L▒~V~L
P

[2020-06-28 16:03] BasCostBudde commented on #466
Splendid!

[2020-06-28 16:03] #466 closed

[2020-07-09 07:57] pjio opened #469 "Path_mapping not working in some cases"
If I set the path mapping after vim has started via the vdebug_options they will not be used for breakpoints:

[code]

I can debug with `break_on_open = 1` and the path_mapping is recognized, but a breakpoint will not use the mapped remote path.

I looked up the remote path in both the xdebug.remote_log and in `utils.py` -> `_create_remote(f)`.
The `path_maps` dict in `_create_remote(f)` is emtpy.

[2020-07-10 17:27] jespinal opened #470 "Unsuported "priority" option for vim v8.0 | vim.error: Vim(sign):E474: Invalid argument"
After some investigation and troubleshooting, I can see that the `priority` option is being used along with the `sign` command in `vim`, which introduces an error in versions where that option was not added yet (e.g. v.8.0)

If you try the following command[a] in `vim` 8.0 you'll see that it fails with the error: **E474: Invalid argument**:

[code]

Nonetheless, the same thing works just fine in `

[2020-07-20 03:13] ngocthienvnn opened #472 "Invalid scroll size: scroll=10 in Neovim(PHP Xdebug)"
Kubuntu 20.04
Neovim: 0.4.3
Debugger: Php Xdebug
I got this error: Invalid scroll size: scroll=10 when using F2, or F3to step over/step into a function in a php project. spent a day to find the solution but didn't have any result.(see my screenshot for more information)
![image](https://user-images.githubusercontent.com/14000527/87896129-90f03d00-ca71-11ea-9e4b-ea25949c7a78.png)
Here is my full lo

[2020-07-21 17:04] mkindred commented on #422
I'm experiencing this nearly 100% of my debug sessions. Currently using gnome-terminal.

[2020-07-22 06:53] ngocthienvnn commented on #472
Found the issue, there is a line in my nvim config:
" autocmd BufEnter * :set scroll=10
removed that line and it works well.

[2020-07-22 06:53] #472 closed

[2020-07-22 22:37] fabiosal commented on #259
actually, in my case, removing the -S flag make it works

[2020-08-15 15:32] nacknime-official commented on #433
+1
I use pydbgp.

[2020-08-18 13:43] #470 closed

[2020-08-18 14:53] CaptainQuirk opened #474 "Error on upgrading"
Upon upgrading vdebug today, I suddenly get this error :

[code]

I use vim **8.1** on **Linux Mint 20** an I have **python 3.8**

The problem goes away if I do a hard reset on `d914bcb`

[2020-08-18 15:00] BlackIkeEagle commented on #474
Sorry, it seems this is only available in neovim, I'll fix it

[2020-08-18 15:09] BlackIkeEagle commented on #474
@CaptainQuirk could you verify the proposed fix works #475 ?

[2020-08-18 15:30] BlackIkeEagle commented on #468
Hi @jpcampbell with the MR I just opened you should be able to set `g:vdebug_force_ascii = 1` in your .vimrc to see if that makes it work

it also could be the terminal app you are using uses a text encoding which does like the utf8 glyphs in the configuration

[2020-08-18 15:35] BlackIkeEagle commented on #465
@bitwombat so this is still related to vdebug debugging python with the komodo pydbgp stuff?

[2020-08-18 15:38] #474 closed

[2020-08-18 15:39] BlackIkeEagle commented on #474
@CaptainQuirk I assumed the thumbsup is that it works :)

[2020-08-18 15:56] BlackIkeEagle commented on #469
If you really want to use
`let g:vdebug_options.path_maps = {"/app": "/home/user/local_source"}`
you also should manually call
`:py3 debugger.reload_options()`

The supported way is making use of `VdebugPathMap` or `VdebugAddPathMap`

[2020-08-18 15:56] #469 closed

[2020-08-18 16:00] #345 closed

[2020-08-18 16:00] #434 closed

[2020-08-18 16:00] #457 closed

[2020-08-18 16:00] #147 closed

[2020-08-18 16:10] pjio commented on #469
Thank you for the explanation. I reported it, because previously it was working with the global variable. Makes sense to use the new supported way!

[2020-08-18 16:11] jpcampbell commented on #468
Seems to work!  Thanks.

take care,

jpc

On Tue, Aug 18, 2020 at 10:31 AM Ike Devolder <notifications@github.com>
wrote:

[2020-08-18 16:46] BlackIkeEagle commented on #468
great, thanks

[2020-08-18 16:46] #468 closed

[2020-08-18 21:18] bitwombat commented on #465
@BlackIkeEagle I believe so since I was getting the same error. Don't have enough knowledge to know.

[2020-08-19 08:49] meldafert commented on #426
@cprn This is indeed related, since without this error you would have gotten a simple "Socket is already in use" message.

[2020-08-27 09:12] Mte90 commented on #433
![Screenshot_20200827_105715](https://user-images.githubusercontent.com/403283/91421420-37d8ad80-e856-11ea-9ee9-5d4e6193f409.png)
I got that today.

[2020-08-27 09:15] Mte90 commented on #433
![Screenshot_20200827_110703](https://user-images.githubusercontent.com/403283/91421758-9aca4480-e856-11ea-88f2-3c76c30e32ed.png)
![Screenshot_20200827_110754](https://user-images.githubusercontent.com/403283/91421761-9b62db00-e856-11ea-8178-6991c5b8a9b7.png)
I got also this error after this and issues on closing but I don't know if they are related

[2020-08-28 11:14] Mte90 commented on #403
As I am trying to get a xdebug dev environemnt that works I am doing more tests, with pugdebug I am able to use breakpoints https://github.com/Mte90/pugdebug but with vdebug doesn't work, except when `xdebug_break()``is used.

So my guess is that vdebug is not sending or reading right some information that instead with that command are right.
Can someone help on debugging and giving some hints? I

[2020-08-31 10:38] VoltairedesChamps opened #480 "Vdebug and <class 'neovim.api.nvim.NvimError'> error"
Hello, i'm new to this environnment, i come from vscode background but the thing is i find it very slow so i wanted to do this with vim as im appreciating the shortkeys,  i have wsl and xdebug who is install on wamp.
If i understand right i can communicate with my wsl where i have nvim on it and the xdebug server on wamp.

I installed python3 on wsl and i can run the debugging as it seems to inter

[2020-08-31 10:40] BlackIkeEagle commented on #480
Could you tell what version of neovim you use?

[2020-08-31 12:21] VoltairedesChamps commented on #480
I use NVIM v0.3.4 .

[2020-08-31 12:57] BlackIkeEagle commented on #480
And you have latest master? I thought I fixed that in https://github.com/vim-vdebug/vdebug/commit/c7a2a7231bc7aec0b33b35e8d080bcd3e1baf8ab

[2020-08-31 14:25] Abyweinberg opened #481 "Vim don't respond when start debugging"
Hi,
First at all, Thank you for your hard work.
This is my first time with this plug and I'm very new user with vim, so can be a bad configuration my problem.
I do this steps:

1- Add the log file as describe in the vdebug help:

:VdebugOpt debug_file ~/vdebug.log
:VdebugOpt debug_file_level 2

2- Press F5 in vim and get "Vdebug will wait for a connection in the background" instead of  "Waiting fo

[2020-08-31 15:14] VoltairedesChamps commented on #480
My bad, i upgraded to the last version on testing 0.44 and i don't have the problem anymore.  Thanks a lot will now see the video to learn about the tool.

[2020-08-31 16:41] lucc commented on #481
Did you set a breakpoint in vim (`:Breakpoint`) or did you configure php-xdebug to automatically break at the beginning of the script?

[2020-08-31 16:41] #480 closed

[2020-09-08 11:53] nkoporec commented on #433
Have the same issue, when opening a larger array (php), any ideas on how to resolve this?  I'm having this issue while using neovim, if I switch to vim, it works normally.

[2020-09-09 14:57] BlackIkeEagle commented on #426
should be fixed with #479

[2020-09-09 14:57] #426 closed

[2020-09-09 14:57] BlackIkeEagle commented on #453
should be fixed with #479

[2020-09-09 14:57] #453 closed

[2020-09-09 15:22] meldafert commented on #426
Note that the "Socket is already in use" error message will still trigger the `nvim.async_call(cb, ...)` issue on neovim.
Since this is an error case, this is far less severe, especially since the relevant error message will be shown - if buried in stacktrace noise.

[2020-09-09 19:13] #369 closed

[2020-09-09 19:13] #451 closed

[2020-09-14 14:30] Mte90 commented on #403
I am having the same issue with https://github.com/puremourning/vimspector that use https://github.com/felixfbecker/vscode-php-debug

If I mark a breakpoint is not working but with `xdebug_break()` everything is fine.

[2020-09-14 14:50] Mte90 commented on #403
This is what I get in the log output when that issue happens:
[code]

Seems like that after launching the connection is stopped by vdebug itself before to get something from xdebug.

[2020-09-14 15:17] Mte90 opened #484 "Error starting timeout"
![Screenshot_20200914_171549](https://user-images.githubusercontent.com/403283/93104352-06613e00-f6ae-11ea-82c6-be2f72b65f7a.png)

I am getting this error maybe is connected to #403?

The log when this error is happening: https://pastebin.com/qwGYmnFu

Anyway this error block the opening of the various buffers with the informations.

[2020-09-14 17:27] terminator-ivanovich opened #485 "Bug! Please, help somebody!"
Arch Linux Kernel 5.4.64 (linux-lts package) system is stable
Vim  - 8.2.0814
Xdebug - 2.9.6
php - 7.4.7
installed python 3.8.5
Аfter closing first debugging session by F6 and closing all debugging windows also by F6, the NEXT debugging session start with so ugly message "vim.error: attempt to refer to deleted buffer". What is this? What is wrong with me, with my life and my vim-vdebug infrastruct

[2020-09-19 19:31] dave2309 commented on #484
After upgrading vdebug , I have the same error showing up during debug... when an ajax takes some times (difficult to measure that)

[2020-09-21 19:24] mlapai opened #486 "Can't exit debugger ui"
If i use f6 to close the DebuggerWatcher, DebuggerStatus and DebuggerStack, next debug session bugs out with an error:
[code]
and i need to restart vim in order to use  vdebug again.

If i leave them open however, next session works as intented.
Besides that, when using path maps only every 3rd request is entering session - exactly third, so there is that.....
How da hell is it possible that every

[2020-09-22 08:27] fabiosal opened #487 "Error starting Vdebug: <class 'pynvim.api.common.NvimError'>"
The debugger works just the first time, after that when i try to start the debugger  I receive this error:
`Error starting Vdebug: <class 'pynvim.api.common.NvimError'>`
a new tab is created with two windows but the one with the debugger console/stacktrace is empty.

I'm using
NVIM v0.4.3
an updated version of vdebug: commit  88e08263d20be875af74c5ee9df43af9bb98ecea
pynvim Version: 0.4.2

thank yo

[2020-09-22 10:25] mlapai commented on #487
@fabiosal having the same issue, and some additional ones described in https://github.com/vim-vdebug/vdebug/issues/486

[2020-09-23 05:51] Abyweinberg commented on #481
@lucc Hey, for any reason my response disappear or didn't saved here.
Yes I did `:Breakpoint`.

Sorry for the delay.

[2020-09-25 16:48] Phosphenius commented on #485
I'm experiencing the same issue with an almost identical setup. I have to restart vim for every debugging session.

PHP v7.4.10
Xdebug v2.9.6
Vim v8.2.1704

[2020-09-26 05:04] terminator-ivanovich commented on #485
Now I debug in phpstorm, sorry vim. Phpstorm - no problem, but only on good hardware.

[2020-09-26 17:19] BlackIkeEagle commented on #485
Sorry, My mistake, fix is coming

[2020-09-26 17:21] BlackIkeEagle commented on #486
I think this is the same issue as #485, so the fix is coming soon

[2020-09-26 17:21] BlackIkeEagle commented on #487
same as #486 and #485 so the fix is coming soon

[2020-09-26 17:22] #485 closed

[2020-09-26 17:23] BlackIkeEagle commented on #485
If you could verify, that would be awesome, thanks

[2020-09-26 17:23] BlackIkeEagle commented on #486
If you could verify, that would be awesome, thanks

[2020-09-26 17:23] #486 closed

[2020-09-26 17:23] BlackIkeEagle commented on #487
If you could verify, that would be awesome, thanks

[2020-09-26 17:23] #487 closed

[2020-09-27 05:50] BlackIkeEagle commented on #484
Could you create simple steps to reproduce? I have tried to reproduce but not yet encountered this socket.timeout issue

[2020-09-27 05:52] BlackIkeEagle commented on #484
@Mte90 I don't think the timeout is related to the empty stacktrace

[2020-09-27 05:53] BlackIkeEagle commented on #403
@Mte90 is there a simple way to reproduce this? because I'm only seeing this empty stacktrace situation when xdebug got connected but there was no breakpoint hit.

[2020-09-27 05:59] BlackIkeEagle commented on #481
@Abyweinberg vdebug can't use port 9000 if you have fpm on 9000.

Could you try to configure xdebug to use 9001 and also set this in the vdebug configuration 9001 is used ?

xdebug ini setting:
[code]

somewhere in your vimrc if you don't yet have any vdebug settings

[code]

[2020-09-27 06:02] BlackIkeEagle commented on #461
Currently Vdebug does not support multiple debugging connections. I have to look into it what the behaviour is in your case

[2020-09-27 06:03] BlackIkeEagle commented on #429
I'm going to close this because I think it is fixed

[2020-09-27 06:03] #429 closed

[2020-09-27 07:59] BlackIkeEagle commented on #433
Someone a simple example to reproduce this, just opened a few large arrays in nvim without an issue

[2020-09-27 08:08] BlackIkeEagle commented on #354
If someone makes a PR for this I'll take it, but going to close this because I think the layout configuration gives a nice way to choose how you want to use the debugger

[2020-09-27 08:08] #354 closed

[2020-09-27 14:09] Mte90 commented on #403
The point is that a breakpoint is configured inside vim but seems that vdebug is ignoring it

[2020-09-27 14:13] BlackIkeEagle commented on #403
Yes, I get the point, but I have not yet been able to reproduce it in any way. So I was wondering if you would be able to provide a simple enough example where it happens so that I can pinpoint what goes wrong.

[2020-09-27 14:15] Mte90 commented on #403
Well I am getting when using https://github.com/Varying-Vagrant-Vagrants/VVV/ with xdebug enabled, so I don't have any tiny environment to replicate...
That was the reasons I tried to investigate, if you can give me some hints in the code I can take a look again

[2020-09-28 08:25] fabiosal commented on #487
Back to normal,
thank you

[2020-09-28 14:50] Mte90 commented on #484
when I tested I changed the code to get more seconds, as I can remember the error was still there.

[2020-09-28 20:17] dave2309 commented on #484
It is difficult to make steps to reproduce. But for me I can reproduce each time I have a process on backend that takes more than 30s to process. eg. series of ajax calls (short ones) are perfectly fine. Then one request needs to wait for a backend task to finish like an upload to some server, big file, upload times is more than 30s. then the error message appear on vim.
I have tested two versions

[2020-09-28 20:28] dave2309 commented on #484
Something I did which endup losing the connection.
Put a breakpoint at a first line method.
next is `sleep(30);`
then another breakpoint next line.

When running. Vim breaks at the first breakpoint. Then when pressing F5 then display a `connection closed` after around 10s.

[2020-09-28 20:46] dave2309 commented on #484
So `Error starting Vdebug: <class 'socket.timeout'>` appears when performing an `xhr` call.
Otherwise the message is `Connection to the debugger has been closed`.
But both occur if the "task" takes more than 4s. until 4s everything is fine. 5s then errors shows up.

[2020-09-28 20:47] BlackIkeEagle commented on #484
@dave2309 thanks, I'll look into it further

[2020-09-28 20:52] dave2309 commented on #484
I may have found something

[2020-09-29 10:17] BlackIkeEagle commented on #484
@dave2309 the client should not set the timeout there, I overlooked that

[2020-09-29 10:20] #484 closed

[2020-09-29 10:23] BlackIkeEagle commented on #484
Thanks for the additional input, this helped finding the issue

[2020-09-29 10:30] dave2309 commented on #484
nm
I use vdebug quite intensively. I would have love to PR but I don't have enough knowledge of vdebug internal to propose yet.
Glad I could help

[2020-09-29 20:17] BlackIkeEagle commented on #452
I've started looking into this and this is really annoying to fix. I currently don't really know how to deal with it because the behaviour between vim and neovim is different, and I don't yet see a way to align it.

[2020-10-04 12:53] terminator-ivanovich opened #489 "Bug. Double-click on superglobals variables"
Arch5.4, vim8.2, python3.8.5, xdebug2.9.6, php7.4.10
Doubleclick or enter on superglobals vars return this mistake.

Traceback (most recent call last):
  File "<string>", line 1, in <module>
  File "/home/neomatrix/.vim/bundle/vdebug/python3/vdebug/debugger_interface.py", line 93, in handle_double_click
    return self.event_dispatcher.by_position(self.session_handler)
  File "/home/neomatrix/.vim

[2020-10-06 11:50] dave2309 opened #490 "Vim hangs when closing debugger pressing <F6>"
Hi @BlackIkeEagle ,

Unfortunately I have a little issue, I did not really notice before (saying I don't know if it is knew).
When going using the debugger <F5> and the pressing <F6> vim just hangs.
I don't recall such issue for long time.
Log file does not output anything.
I have a minimal vimrc file with just vdebug (to avoid conflicts with some other plugins)

Where/How can I found something re

[2020-10-06 14:05] terminator-ivanovich commented on #490
I have the same problem

[2020-10-06 14:23] dave2309 commented on #490
I use Ubuntu 20.04, vim 8.2
Since when does it stop working for you?

[2020-10-06 15:41] lucc commented on #490
If someone knows ruby and can make sense of the ruby tests that would also help :)

[2020-10-06 16:32] dave2309 commented on #490
@BlackIkeEagle  it seems that commenting out line 188 in `python3/vdebug/connection.py`
make things working again.
`s.settimout(5)`
@terminator-ivanovich @lucc can you confirm?

[2020-10-06 18:35] BlackIkeEagle commented on #490
@dave2309 is this with break_on_open: 1 or 0 ?

[2020-10-06 18:38] BlackIkeEagle commented on #490
@dave2309 and @terminator-ivanovich could you post the relevant vdebug config you are using

I can't reproduce this, F6 always lets me close just fine

[2020-10-06 18:39] BlackIkeEagle commented on #481
@Abyweinberg do you still have the issue or is it resolved?

[2020-10-06 18:43] BlackIkeEagle commented on #461
@mlapai I've tried to reproduce this and in my case the second request just continues without hitting the debugger, the first gets the connection

[2020-10-06 18:49] BlackIkeEagle commented on #489
I've tested with gvim 8.2.1805 and have no issues, going to test with stock vim from arch next

[2020-10-06 18:53] BlackIkeEagle commented on #489
Well that's completely sad, Arch default vim does not have proper or working python3 support?

[2020-10-07 03:34] terminator-ivanovich commented on #490
Arch5.4.69 (linux-lts), python3.8.5, php7.4.10, xdebug2.9.6, vim8.2.17
from .vimrc :
if !exists('g:vdebug_options')
    let g:vdebug_options = {}
endif
let g:vdebug_options.break_on_open = 0
let g:vdebug_options.ide_key = 'VIM'
let g:vdebug_options.watch_window_style = 'compact'
let g:vdebug_options.port = 9000

let g:vdebug_keymap = {
    \    "run" : "<F5>",
    \    "run_to_cursor" : "<F9>",

[2020-10-07 03:59] terminator-ivanovich commented on #489
I installed gvim. Arch default gvim support python3
``
VIM - Vi IMproved 8.2 (2019 Dec 12, compiled Sep 17 2020 21:54:53)
Included patches: 1-1704
Compiled by Arch Linux
Huge version with GTK3 GUI.  Features included (+) or not (-):
+acl               -farsi             +mouse_sgr         +tag_binary
+arabic            +file_in_path      -mouse_sysmouse    -tag_old_static
+autocmd           +find_

[2020-10-07 04:48] terminator-ivanovich commented on #490
This action return very big mistake in my system.

[2020-10-07 05:03] terminator-ivanovich commented on #490
In .vimrc I commented all vdebug configs - and vdebug start work nicely - F6 works good, and double-click on superglobals works also good. OK, it's problem in vdebug configs. Thanks, @BlackIkeEagle

[2020-10-07 05:05] terminator-ivanovich commented on #489
I commented all vdebug configs, described on 490 issue - and vdebug start work nicely - double-click on superglobals works good and F6 also works good. My problem in vdebug configs. Thanks, @BlackIkeEagle

[2020-10-07 05:36] dave2309 commented on #490
[code]
@dave2309 is this with break_on_open: 1 or 0 ?

[2020-10-07 06:08] BlackIkeEagle commented on #490
@terminator-ivanovich and @dave2309 the watch_window_style = 'compact' seems to be the issue, I'll look into it further

[2020-10-07 06:09] dave2309 commented on #490
@BlackIkeEagle steps that I reproduce with FF and brave.
1. put a breakpoint
2. start F5
3. browser to url
4. on breakpoint stop, just continue F5
5. vdebug says session finishes (until here all normal)
6. F6 -> vim hangs with message "debugger.close()"
7. *refresh browser* same url
8. back in vim no longer hangs, can F6 that stop debugger

It seems that instead of closing, it does "restart" waiti

[2020-10-07 06:11] dave2309 commented on #490
@BlackIkeEagle

Not for me, changing `watch_window_style` back to `expanded` does not change the issue... :(

[2020-10-07 06:13] BlackIkeEagle commented on #490
Just noticed, I had it with your settings, and not if I just add it to my original configuration

[2020-10-07 06:15] dave2309 commented on #490
@BlackIkeEagle can you show your configuration?

[2020-10-07 06:41] BlackIkeEagle commented on #490
@dave2309
This: https://github.com/BlackIkeEagle/vimfiles/blob/master/vimrc-developer#L297-L307 is my default setup

[2020-10-07 07:03] dave2309 commented on #490
@BlackIkeEagle tried with you default configuration, issue still occurs.
Again commenting out line 188 does work.

[2020-10-07 07:05] BlackIkeEagle commented on #490
@dave2309 if you PR it I'll take it, since this is consistently the solution for you, else I'm updating it this evening.

[2020-10-07 07:39] dave2309 commented on #490
@BlackIkeEagle PR done, can you check it?

[2020-10-07 07:42] BlackIkeEagle commented on #490
@dave2309 thanks for putting in the effort

Will close this one since I think it will be solved

[2020-10-07 07:42] #490 closed

[2020-10-07 09:36] Abyweinberg commented on #481
Hi, @BlackIkeEagle thanks for ask, right now I saw your comment (trying with other port).
I move to vscode for the moment because the pressure of the task (php task "actually a work interview") and now I'am developing in Python.
Please let me check your solution in the next few days (actually I hope to check it tonight UTM +2) I'll be very glad to help.
BTW Hope you understand my not native Englis

[2020-10-08 12:46] asadsureify opened #492 "vdebug always stops at the entry point of the code instead of directly stopping at the set breakpoint"
Using vdebug with nvim and xdebug
vdebug always stops at the entry point of the code instead of directly stopping at the set breakpoint

[2020-10-08 12:49] BlackIkeEagle commented on #492
@asadsureify that is default behaviour, if you don't want that disable `break_on_open`

see https://github.com/vim-vdebug/vdebug/blob/master/doc/Vdebug.txt#L864

to change this you can add:

[code]
in your init.vim

[2020-10-08 12:49] #492 closed

[2020-10-08 12:50] asadsureify commented on #492
thanks

[2020-10-08 18:54] BlackIkeEagle commented on #489
Ok since its the config I'm closing this one, thanks

[2020-10-08 18:54] #489 closed

[2020-10-08 18:56] BlackIkeEagle commented on #461
Currently there will be no changes regarding this, if you want to re-open later please do

[2020-10-08 18:56] #461 closed

[2020-11-04 18:12] jazty commented on #391
I encountered this today after pulling the latest from the repo.
I'm not going to pretend to know why this happens or the proper way to fix it, but I was at least able to make it work by adding to  `plugin/vdebug.vim` at line 116:
`python3 import sys
python3 sys.path.insert(1, '/home/USERNAME/.vim/bundle/vdebug/python3')
python3 import vdebug.debugger_interface
python3 debugger = vdebug.debugger_i

[2020-11-06 10:13] meldafert commented on #490
This issue and #484 were introduced by me in #479, sorry.
I thought that the socket returned by `accept()` also inherited the timeout, not just the blocking mode, which is why I set a timeout on the client socket in the first place.
This [turned out to be wrong](https://docs.python.org/3/library/socket.html#timeouts-and-the-accept-method), and I eliminated the need for a timeout on the listening s

[2020-11-06 15:48] meldafert commented on #481
@Abyweinberg The last issue is the same as #484 - this should be fixed in the latest version.

[2020-11-15 23:59] przepompownia opened #493 "Make mappings simpler and abstract"
There is still no abstracion that prevents from direct binding physical keys to actions. Vdebug still forces the user to overwrite existing physical mappings by default (from `g:vdebug_keymap_defaults`). For example, I lose `nmap <F12>` this way after running vdebug although the piece of (Python) code to keep old mapping seems to exist.

I would like to hide mapping of low-level operations behind

[2020-11-16 06:58] lucc commented on #493
Related to #323

[2020-11-16 15:59] Abyweinberg commented on #481
Thank you for your help.
Have a grate day!

[2020-11-16 15:59] #481 closed

[2020-12-02 21:02] stephenplatz opened #494 "Error starting Vdebug: <class 'pynvim.api.common.NvimError'>"
I've already looked at #487, #485 and #486. I just pulled f61a9672fcf38e8f99a5c2ffcdf36d52b2beb802, but it's frankly been a while since I've updated. I can't start a debugging session at all, even after starting vim again.

NVIM v0.3.8

[2020-12-02 21:07] lucc commented on #494
Can you post the full stack trace?

[2020-12-02 21:13] stephenplatz commented on #494
Here's what I have from a first try:
`- [Debug] {Wed 02 2020 13:11:35} keymapper: reload_keys
- [Debug] {Wed 02 2020 13:11:35} Closing the socket
- [Debug] {Wed 02 2020 13:11:35} Closing the socket
- [Debug] {Wed 02 2020 13:11:35} Started
- [Debug] {Wed 02 2020 13:11:35} Listening on port 9000
- [Debug] {Wed 02 2020 13:11:39} Stopping server
- [Debug] {Wed 02 2020 13:11:39} Finishing socket server

[2020-12-02 21:28] stephenplatz commented on #494
I guess I'm not sure how to provide something useful, I don't think you're looking for the vdebug logs.

[2020-12-02 21:37] lucc commented on #494
I was hoping for a python stack trace that belongs to your headline for this issue. ` <class 'pynvim.api.common.NvimError'>` looks like the type of an exception that I assumed was thrown.

Maybe you can also give exact steps what to do to reproduce this (php ini setting for xdebug, nvim command line, steps you perform).

[2020-12-02 21:44] stephenplatz commented on #494
I'd be happy to add a python stack trace here, but the error above is just appearing in my editor.

My php.ini simply has these settings:

xdebug.max_nesting_level = 256
xdebug.show_exception_trace = 0
xdebug.collect_params = 0
xdebug.remote_enable = 1
xdebug.remote_autostart = 0
xdebug.remote_host = ${LANDO_HOST_IP}
xdebug.remote_log = /tmp/xdebug.log

I'm using vdebug in the regular way I've alw

[2020-12-02 21:54] lucc commented on #494
You can check `:help VdebugLogWindow` and `help VdebugOptions-debug_file`.

I will try to reproduce tomorrow (at my work computer).

[2020-12-02 22:07] stephenplatz commented on #494
The log window opens when the error occurs without any additional information, it's completely empty. I was going to provide the log output above, but thought that it wouldn't be helpful. I'll provide a log here, there doesn't seem to be much in it, log level 2:

- [Debug] {Wed 02 2020 14:05:29} keymapper: reload_keys
- [Debug] {Wed 02 2020 14:05:29} Closing the socket
- [Debug] {Wed 02 2020 14:05

[2020-12-15 06:38] shtrom opened #495 "Race condition on `path_maps` when setting breakpoints before starting vdebug"
# Reproduction

1. Set up some `path_maps` and disable `break_on_stop`
2. Set a breakpoint in a mapped file with <F10>
3. Start the debugger with <F5>
4. Start the (PHP/XDebug) script

I don't know if setting a breakpoint before starting the debugger is a supported use-case, but I didn't find anything in the documentation that suggested it wasn't.

This could be stated more clearly or, alternative

[2020-12-15 12:15] Mte90 commented on #494
I think that is the same of https://github.com/vim-vdebug/vdebug/issues/403

[2020-12-15 12:20] Mte90 commented on #403
I did a bounty of 15$ for this ticket https://www.bountysource.com/issues/76208208-open-the-debug-without-any-stacktrace

I am available for debugging.

[2020-12-15 12:20] Mte90 commented on #494
I did a bounty for that issue https://www.bountysource.com/issues/76208208-open-the-debug-without-any-stacktrace

[2021-01-07 11:14] JulesFaucherre commented on #387
Hello, I have the exact same issue but restarting my computer doesn't work
I am using vdebug to debug php with xdebug
When I run `:VdebugStart` a first time I get `No option with key 'autostart'` but if I run it again I always get `No option with key 'background_listener'`

Here is my config :

NVIM v0.5.0-dev+1007-g9223d1450
Python 3.9.1
Ubuntu 20.04.1 LTS
PHP 7.4.13 (cli) (built: Nov 28 2020 06:

[2021-01-14 16:19] cprn opened #497 "Xdebug 3 support"
Hi. I updated `xdebug` from 2.9.8 to 3.0.2 and it started giving this error on almost every step, sometimes straight away when I start debugging:

[code]

I'm trying to prepare a minimal example that triggers it but nothing "simple" seems to be working so I decided to ask - is this a known issue? The error doesn't prevent following the code step by step but the variable context is empty and pressi

[2021-01-14 16:20] cprn opened #498 "xdebug 3 support"
Hi. I updated `xdebug` from 2.9.8 to 3.0.2 and it started giving this error on almost every step, sometimes straight away when I start debugging:

[code]

I'm trying to prepare a minimal example that triggers it but nothing "simple" seems to be working so I decided to ask - is this a known issue? The error doesn't prevent following the code step by step but the variable context is empty and pressi

[2021-01-14 16:20] cprn commented on #498
Sorry for duplicate, I got 404 the first time.

[2021-01-14 16:20] #498 closed

[2021-01-19 20:11] stephenplatz commented on #494
Upgrading my Neovim to v0.4.4 solved this and other issues for me.

[2021-01-19 20:11] #494 closed

[2021-01-31 08:03] abbood commented on #386
why was this closed? it wasn't resolved!

[2021-01-31 08:09] abbood opened #499 "modern vdebug: does it play nicely with neovim and xdebug v3.0.2?"
I used to use vdebug back in the day and it worked like a charm (i had this interesting discussion on how to set it up [here](https://vi.stackexchange.com/questions/14159/how-to-point-xdebug-back-to-vim-on-local-host/14161#14161)).

I haven't used it for a while though, and now I tried to set it up but on neovim instead and with xdebug 3.0.2.

but right off the bat the behaviour seems different, f

[2021-02-03 19:13] l00sed opened #500 "nvim freezes on xdebug connection, then `Error starting Vdebug: <class 'EOFError'>` in the statusline"
I'm an Xdebug n00b, so excuse me if this is something dumb and I just don't know what I'm doing.
I believe my configs are setup correctly. I'm using nvim, but have _Local by Flywheel_ for setting up my development environment. I could only find one other person on the Internet who's doing the same thing:
https://webdevstudios.com/2019/04/16/debugging-wordpress-with-local-by-flywheel-neovim-and-xde

[2021-02-25 05:10] Roy-Orbison opened #501 "Option to disable automatic updating of watch window"
I have a PHP class that will crash Vim whenever I debug code that uses it. I get a slew of errors that point at Vdebug's python code but I don't know what the true cause is. It doesn't make a difference if I step over it or into it, Vim will choke. I recently discovered that by first executing `:VdebugEval! $not_a_real_var`, it stops crashing. `xdebug.show_local_vars` exists and is disabled by def

[2021-03-26 17:06] sepremento opened #502 "No module found 'dbgp' but I am in a dbgp directory"
I am struggling to set up python debugger. I've followed these steps:
* Downloaded Komodo Python Remote Debugging 12.0.1 and extracted the tarball
* cd to `python3lib/dbgp`
* execute the command `python -S path/to/pydbgp -d localhost:9000 myscript.py`

But I still get "no module found 'dbgp'" error. What can be the problem here?
What additional information can I provide?

[2021-03-26 17:08] #502 closed

[2021-03-26 17:09] sepremento commented on #502
My bad. Should have RTFM more attentively. I've read "you should move _to_ dbgp directory" istead of "move _the_ dbgp directory".

[2021-04-11 18:53] wagnered opened #503 "VdebugEval! Can't get values of array at depth > 1"
$apics = $data['flac']['PICTURE'];

The statement `:VdebugEval! $apics`reports a type of "$apics[0] = (array[10])" **with no values**.
The statement `:VdebugEval! $apics[0]` gives the error "AttributeError: 'NoneType' object has no attribute 'isdigit'".

if I explicitely request a value `:VdebugEval! $apic[0]['description']` the value will be displayed with no errors.

result of Issuing request fo

[2021-04-11 23:44] wagnered commented on #503
I was wrong about Vorbis comments. According to to [xiph.org](https://xiph.org/vorbis/doc/v-comment.html) specs, the encoding must be utf8.  So evidently, the FLAC files were either corrupted or improperly encoded.

I confirmed that the FLAC files were the problem by examining an mp3 file with Vdebug while stepping through the code, so I will close this issue.

Vdebug is a great vim plugin. Along

[2021-04-12 01:22] wagnered commented on #503
I repeated the testwith the mp3 file.  On second attempt to reproduce , it also didplayed the same AttributeError.

[2021-04-19 09:06] FelipeRuizGarcia opened #504 "Wrong reference to the plugin in VIm Awesome"

[2021-05-06 08:59] duvifn commented on #257
FYI, The `Komodo IDE` (mentioned in the `VDebug` help) is shipped with a `rdbgp2.rb` file which is supposed be compatible with Ruby `2.x`.

This file contains a bug which prevents using it with `VDebug` (it streams the `stderr` to the IDE by default) and it also doesn't implement an `eval` command.

I managed to make it work (and added an `eval` command), but I'm pretty new to this so this is prob

[2021-06-02 05:09] nmercado1986 commented on #370
Can we reopen this issue?
Getting vdebug to debug NodeJS without the need to install a separate plugin for node debugging would be great.

[2021-07-23 20:47] AlternativeSolution opened #505 "Python program stuck after debugging finish (cursor reach end of program)"
Python program stuck after cursor reaches end of program. Vim with vdebug plugin work correct.
I run program use command:  `python3 -S /usr/local/lib/Komodo-PythonRemoteDebugging-12.0.1-91869-linux-x86_64/pydbgp -d localhost:9000 main.py`
However, if I use `python debugger.close()`(\<F6\>) or `python debugger.detach()`(\<F7\>) python program is finishing.
I want to python program finish after debu

[2021-08-09 08:39] Roy-Orbison opened #506 "Infinite-ish recursion on singleton classes"
Using XDebug + PHP, going through some code that contains a singleton class leads to Vdebug crashes. They can take a long time to recover, and then immediately crash again on the next step. I can prevent the crash by doing `:VdebugEval! $not_a_var` but this of course kills watching all context. VDebug expands the local variable containing the instance, finds its class' static property holding the

[2021-08-31 08:40] nrob81 opened #507 "No option with key 'autostart'"
Hello, i getting this error on pressing <F5> or calling :VdebugStart in neovim:

Vdebug will wait for a connection in the background
Error detected while processing function provider#python3#Call:
line   18:
Error invoking 'python_execute' on channel 3 (python3-script-host):
Traceback (most recent call last):
  File "<string>", line 1, in <module>
  File "/home/nrob/.config/nvim/plugged/vdebug/pyt

[2021-09-01 07:59] nrob81 commented on #507
ok, i figured it out. :)

[code]

I had a config with the whole vdebug_options and overwrote the default options.
I got my error because i didn't had the auto_start property.

hope it is helpful to someone

[2021-09-01 07:59] #507 closed

[2021-09-22 08:22] XyrusTheVirus opened #509 "Vim hangs up connection without stopping on breaking point"
Hi,
I've recently encountered with an vdebug issue, when the debugger attempts to listen but when hitting an http request to the web server, vdebug seems to disconnect and ignore the break point at all. I'm using PHP 7.4 with Xdebug 3.0.4 and docker.
My configurations are as follows:

vdebug:
[code]

xdebug.ini:
[code]

I'm attaching screen shoot to illustrate the problem:
![Screenshot from 2021-0

[2021-11-11 14:53] aleixq opened #510 "Cannot expand or collapse"
Cannot expand or collapse, and debug always returns "No executable event found at current cursor position"  when trying to expand a tree leaf...
Cannot evaluate correctly [         if window_name == session.ui().windows.watch().name: ](https://github.com/vim-vdebug/vdebug/blob/master/python3/vdebug/event.py#L848) as window_name cannot match the regex `r'.*[\\/]([^\\/]+)'` in https://github.com/vim

[2021-11-18 23:51] aleixq opened #512 "TypeError when empty xml elements in response"
When response is like:

`<response xmlns="urn:debugger_protocol_v1" xmlns:xdebug="https://xdebug.org/dbgp/xdebug" command="feature_get" transaction_id="6" feature_name="supports_async" supported="1"/>`

this code (https://github.com/vim-vdebug/vdebug/blob/master/python3/vdebug/session.py#L260 ) in must_features and maybe_features can lead to error as feature_value will be NoneType (274):

[2021-11-18 23:58] aleixq commented on #510
It works when other plugins are disabled so, my fault sorry...

[2021-11-18 23:58] #510 closed

[2021-11-19 06:26] aleixq commented on #512
Updated issue description to include xml response.^

[2021-11-19 06:56] #512 closed

[2021-11-22 12:55] letharion opened #514 "Are there plans for a new release?"
2.0 is fairly dated at this point, and more development has happened. Is there any plan for a 2.1 release, or should I start pulling in master from git? :)

[2022-04-20 20:01] pbpjackd commented on #509
@XyrusTheVirus I have a similar issue while trying to debug some Wordpress site. Do you have a way to work around this ?

[2022-04-20 20:10] XyrusTheVirus commented on #509
Hi @pbpjackd,
Unfortunately, recently, I've moved from working with PHP.
Regardless of that, I don't think the owners of this project had fixed this issue, therefore i would recommend on snoozing them!!!

[2022-04-20 20:15] BlackIkeEagle commented on #509
@pbpjackd do you also have `break_on_open: 0` ? If so I would suggest re-trying with `break_on_open: 1` and see if the request actually hits the breakpoint

[2022-09-20 10:04] vlada-dudr commented on #497
It can be easy reproduced by reading binary file content into variable.

[2022-10-05 18:58] perotta commented on #433
Hi @Dornat did you find a solution for this? I'm having the same problem. I don't know exactly how to reproduce it niether

[2022-10-20 12:43] shadydealer opened #516 "Update README PHP setup with Xdebug"
I went through the steps of installing xdebug and vdebug to debug my php setup and I couldn't, for the life of me get a debugger session working. I was getting the same error log over and over again:

[code]

There were 2 reasons:
1. The VdebugSetupPHP section includes a helper script to start a debugging session:

[code]

howerver, the [xdebug docs](https://xdebug.org/docs/step_debug#activate-deb

[2022-11-28 07:35] letharion commented on #516
These are changes from xdebug 2 to 3, and the instructions haven't been updated yet.